{% extends "layout_bsa.html" %}

{% block page_title %}
	Check your answers before sending the application
{% endblock %}

{% block content %}
<style>
    /* banner */
    .banner-information-without-action {
        color: #005ea5;
    }
    .banner-message {
        font-family: Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 36px;
        line-height: 1.2;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-width: 5px;
        border-style: solid;
        font-weight: bold;
        text-align: center;
    }
    .vertical-bar {
        margin: 0px 10px;
    }
    /* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
        <div class="column-full">
            <div id="back">
                <a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="grid-row">
            <!-- <div class="column-full">
                <div class="banner-information-without-action">
                    <p class="banner-message">
                        <span class="name text-capitalize">Michael Philip</span>
                        <span class="vertical-bar">|</span>
                        <span class="ohs-reference-number">25000002</span>
                    </p>
                </div>
            </div> -->
            <div class="column-two-thirds">
                <div class="heading-group">
                    <h1 class="heading-large">Check your answers</h1>
                </div>
                <div class="form-group">
					<h2 class="heading-medium">Personal details</h2>
					<dl class="govuk-check-your-answers cya-questions-short">
						<div>
							<dt class="cya-question">OHS reference number</dt>
							<dd class="cya-answer">25000002</dd>
							<dd class="cya-change"></dd>
						</div>
						<div>
							<dt class="cya-question">Full name</dt>
							<dd class="cya-answer">Michael Philip</dd>
						</div>
						<div>
							<dt class="cya-question">Date of birth</dt>
							<dd class="cya-answer">16/03/1974</dd>
						</div>
						<div>
							<dt class="cya-question">National Insurance number</dt>
							<dd class="cya-answer">SR123456A</dd>
						</div>
					</dl>
				</div>
				<div class="form-group">
					<h2 class="heading-medium">Eligibility details</h2>
					<dl class="govuk-check-your-answers cya-questions-short">
						<div>
							<dt class="cya-question">What date was the request received by the business?</dt>
							<dd class="cya-answer">12/03/2020</dd>
							<dd class="cya-change">
								<a href="received-date">Change<span class="visually-hidden"> who the PRC is for</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">What entitlement would you like to create?</dt>
							<dd class="cya-answer">{{data.radiosPW}}</dd>
							<dd class="cya-change">
								<a href="create-entitlement#entitlement">Change<span class="visually-hidden"> entitlement you would like to create</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Is the PRC for you or a dependant?</dt>
							<dd class="cya-answer">For me</dd>
							<dd class="cya-change">
								<a href="prc-type">Change<span class="visually-hidden"> who the PRC is for</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">EHIC issue number</dt>
							<dd class="cya-answer">1234567890</dd>
							<dd class="cya-change">
								<a href="ehic-details">Change<span class="visually-hidden"> EHIC issue number</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">EHIC expiry date</dt>
							<dd class="cya-answer">20/01/2020</dd>
							<dd class="cya-change">
								<a href="ehic-details">Change<span class="visually-hidden"> EHIC expiry date</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Entitlement start date</dt>
							<dd class="cya-answer">12/03/2020</dd>
							<dd class="cya-change">
								<a href="prc-dates">Change<span class="visually-hidden"> PRC start date</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Entitlement end date</dt>
							<dd class="cya-answer">19/03/2020</dd>
							<dd class="cya-change">
								<a href="prc-dates">Change<span class="visually-hidden"> PRC end date</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Country of treatment</dt>
							<dd class="cya-answer">France</dd>
							<dd class="cya-change">
								<a href="treatment-details">Change<span class="visually-hidden"> country of treatment</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Treatment facility name</dt>
							<dd class="cya-answer">Hospital Arnaud-De-Villeneuve</dd>
							<dd class="cya-change">
								<a href="treatment-details">Change<span class="visually-hidden"> treatment facility name</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Treatment facility email address</dt>
							<dd class="cya-answer">info@chu-montpellier.com</dd>
							<dd class="cya-change">
								<a href="treatment-details">Change<span class="visually-hidden"> treatment facility email address</span></a>
							</dd>
						</div>
					</dl>
				</div>
				<div class="form-group">
					<h2 class="heading-medium">Contact details</h2>
					<dl class="govuk-check-your-answers cya-questions-short">
						<div>
							<dt class="cya-question">Residential address</dt>
							<dd class="cya-answer">1 Road <br>
								Downtown <br>
								Bristol <br>
								BR1 5TL <br>
								UK
							</dd>
						</div>
						<!-- <div>
							<dt class="cya-question">Correspondence address</dt>
							<dd class="cya-answer">Rúa de Mer 64 <br>
								Paris <br>
								Plaisance <br>
								75014 <br>
								France
							</dd>
						</div> -->
						<div>
							<dt class="cya-question">Email address</dt>
							<dd class="cya-answer">michael.philip@email.com</dd>
						</div>
						<div>
							<dt class="cya-question">Telephone number</dt>
							<dd class="cya-answer">07829393002</dd>
						</div>
					</dl>
				</div>
				<!-- <div class="form-group">
					<h2 class="heading-medium">Check residency</h2>
					<p class="text">
						Content TBD
					</p>
				</div>
 -->
				<div class="form-group">
               <h2 class="heading-medium">Check UK residency</h2>
               <p class="text">
                  By accepting these details, you are confirming they are correct to the best of your knowledge.
               </p>
            </div>

				<div class="form-group">
					<a class="button" href="check-res-fail">Check UK residency</a>
					<!-- <a href="done" class="button">Accept and submit</a> -->
					<a class="button button-secondary" href="case-record">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
