{% extends "layout_bsa.html" %}

{% block page_title %}
	Search
{% endblock %}

{% block content %}
<style>
	.form-control-3-4 {
		width: 32.7%;
	}
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="heading-group">
				<h1 class="heading-large">Search</h1>
			</div>
		</div>
		<form action="search-noresults2" method="get" class="form">
			<div class="column-full">
				<div class="form-group">
						<label>
							<span class="form-label" for="ohs">OHS reference number</span>
							<span class="form-hint">This can be either an OHS reference number or MedBen number</span>
						</label>
					<input class="form-control" id="ohs" name="ohs" type="text" autocomplete="off" />
				</div>
				<div class="form-group">
					<p class="form-block">or</p>
				</div>
				<div class="form-group">
					<label class="form-label" for="first-name">First name</label>
					<input class="form-control" id="first-name" name="first-name" type="text" autocomplete="off" value="Rosie" />
				</div>
				<div class="form-group">
					<label class="form-label" for="last-name">Last name</label>
					<input class="form-control" id="last-name" name="last-name" type="text" autocomplete="off" value="Philip" />
				</div>
				<div class="form-group">
					<label class="form-label" for="date-of-birth">Date of birth</label>
					<span class="form-hint">
						For example, 15/10/1951
					</span>
					<input class="form-control" id="date-of-birth" name="date-of-birth" type="text" autocomplete="off" value="25/11/2006" />
				</div>
				<div class="form-group">
					<label class="form-label" for="nino">National Insurance number (optional)</label>
					<span class="form-hint">
						For example, 'QQ123456C'
					</span>
					<input class="form-control" id="nino" name="nino" type="text" autocomplete="off" value="" />
				</div>
				<div class="form-group">
					<a class="button" href="search-noresults2">Search</a>
				</div>
			</div>
		</form>
		<div class="column-full" style="background-color:#FFFFFF">
			<div id="example" class="form-group form-group-error" tabindex="1">
				<h2 class="heading-medium" >No results found</h2>
				<span class="heading-small">Check that all details are correct</span>
				<p>Enter first name, last name and date of birth.</p>
			</div>
			<br>
			<div class="form-group">
				<form action="person-details">
					<a class="button button-secondary" href="check-person-details-dep-prc">Create new person</a>
				</form>
			</div>
		</div>
	</div>
</main>

<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script>
	document.getElementById('example').focus();
</script>
{% endblock %}
