{% extends "layout_bsa.html" %}

{% block page_title %}
    What is your residential address?
{% endblock %}

{% block content %}

<style>
    /* checkbox */
    .govuk-checkboxes__item {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.25;
        display: block;
        position: relative;
        min-height: 40px;
        margin-bottom: 10px;
        padding-left: 40px;
        clear: left;
    }
    .govuk-checkboxes__input {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: -2px;
        left: -2px;
        width: 44px;
        height: 44px;
        margin: 0;
        opacity: 0;
    }
    .govuk-checkboxes__label {
        display: inline-block;
        margin-bottom: 0;
        padding: 8px 15px 5px;
        cursor: pointer;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
    }
    .govuk-label {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.25;
        color: #0b0c0c;
        display: block;
        margin-bottom: 5px;
    }
    .govuk-checkboxes__label::before {
        content: "";
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border: 2px solid currentColor;
        background: transparent;
    }
    .govuk-checkboxes__input:checked+.govuk-checkboxes__label::after {
        opacity: 1;
    }
    .govuk-checkboxes__label::after {
        content: "";
        position: absolute;
        top: 11px;
        left: 9px;
        width: 18px;
        height: 7px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border: solid;
        border-width: 0 0 5px 5px;
        border-top-color: transparent;
        opacity: 0;
        background: transparent;
    }
    /* end checkbox */
</style>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div id="back">
                <a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <h1 class="heading-large">What is your residential address?</h1>
            </div>
            <form action="contact-details" id="contact-address-form-2" method="get" class="form">
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-label" for="lineone">Building and street (line 1 of 2)</label>
                        <input class="form-control" id="lineone" name="address-lineone" type="text" autocomplete="off" value="1 Road">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="linetwo">Building and street (line 2 of 2) (optional)</label>
                        <input class="form-control"  id="linetwo" name="address-linetwo" type="text" autocomplete="off" value="Downtown">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="town">Town or city</label>
                        <input class="form-control" id="town" name="town" type="text" autocomplete="off" value="Lille">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="postcode">Postcode (optional)</label>
                        <input class="form-control form-control-1-4"  id="postcode" name="address-postcode" type="text" autocomplete="off" value="123456">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="country">Country</label>
                        <input class="form-control" id="country" name="country" type="text" autocomplete="off" value="France">
                    </div>
                    <!-- <div class="form-group">
                        <label>
                            <span class="form-label" for="date">What date did you move into this address?</span>
                            <span class="form-hint">For example, 18/09/2018</span>
                        </label>
                        <input class="form-control" id="date" name="date" type="text" autocomplete="off" value="04/12/2018">
                    </div> -->
                </div>
                <div class="form-group">
                    <details role="group">
                        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Add correspondence address (if different)</span></summary>
                        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                            <div class="form-group">
                                <h2 class="heading-medium">Add correspondence address</h2>
                                <div class="form-group">
                                    <label class="form-label" for="building-name-1">Building and street (line 1 of 2)</label>
                                    <input class="form-control" id="building-name-1" name="building-name-1" type="text" autocomplete="off" value="Rúa de Mer 64">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="street-name-1">Building and street (line 2 of 2) (optional)</label>
                                    <input class="form-control" id="street-name-1" name="street-name-1" type="text" autocomplete="off" value="Paris">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="town-city-1">Town or city</label>
                                    <input class="form-control" id="town-city-1" name="town-city-1" type="text" autocomplete="off" value="Plaisance">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="form-control-1-4">Postcode (optional)</label>
                                    <input class="form-control form-control-1-4" id="form-control-1-4" name="form-control-1-4" type="text" autocomplete="off" value="75014">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="form-control-1-3">Country</label>
                                    <input class="form-control" id="form-control-1-3" name="form-control-1-3" type="text" autocomplete="off" value="France">
                                </div>
                            </div>
                        </div>
                    </details>
                </div>
                <div class="form-group">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="ohs-1" name="ohs" type="checkbox" value="not provided">
                            <label class="govuk-label govuk-checkboxes__label" for="ohs-1">
                                Address not provided
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a class="button" href="contact-details-ig">Next</a>
                    <a class="button button-secondary" href="search">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
