<!DOCTYPE html>
<html>
    <head>
        <title>Sign in</title>
        <style>

        /* #test {
          width:1200px;
          height: 1200px;
        background: url(/../../public/images/bsa/sign-in-screen.png) no-repeat;
background-size: contain;
        } */

        </style>
    </head>

<body style="margin: 0px">
  <a href="nhsportal-login">
  <img src="../../public/images/bsa/auth-login.png" style="width:99%" />
</a>
<!--<a href="search1"><div id="test"></div>
</a>-->
</body>
</html>
