{% extends "layout_bsa.html" %}

{% block page_title %}
    Search for dependant
{% endblock %}

{% block content %}

<style>
.button-secondary {
    background-color: #dee0e2;
    color:black;
    box-shadow: 0 2px 0 #b5babe;
    font-size: 1em;
    outline-offset: -1px;
    outline: 1px solid transparent;
    border-radius: 0;
  }
.form-control-3-4 {
    width: 32.7%;
}
</style>

<main id="content" role="main">
     <a href="javascript:history.go(-1)" class="link-back">Back</a>
     <div class="grid-row">
          <div class="column-two-thirds">
               <header class="page-header">
                    <h1 class="page-header--lede heading-large">Search for dependant</h1>
               </header>
          </div>
          <form action="person-details" method="get" class="form">
             <div class="column-full">
                 <div class="form-group">
                       <label class="form-label" for="ni-number">
                          National Insurance number
                          <span class="form-hint">
                            It’s on the National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
                          </span>
                       </label>
                       <input class="form-control form-control-3-4" id="id" type="text" name="id" max="20">
                  </div>
              </div>
              <div class="column-two-thirds">
                  <div class="form-group">
                       <label class="form-label" for="lineone">Date of birth</label>
                       <span class="form-hint">For example, 31/03/1980</span>
                       <input class="form-control" id="registration-number" name="address-lineone" type="text">
                 </div>
                 <div class="form-group">
                      <input class="button" type="submit" value="Search">
                 </div>
             </div>
          </form>

           <div class="column-full" style="background-color:#FFFFFF">
                <div class="form-group form-group-error">
                    <h2 class="heading-medium" >No results found</h2>
                    <span class="heading-small">Check you have entered all details correctly</span>
                    <p>Complete all fields: National Insurance number and date of birth. </p>
                </div>
                <br>
                <div class="form-group">
                    <form action="person-details">
                         <input class="button button-secondary" type="submit" id="button2" value="Create entitlement">
                   </form>
                </div>
           </div>
        </div>
     </div>
</main>

{% endblock %}
