{% extends "layout_bsa.html" %}
 
{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="done-panel">
          <h1 class="heading-xlarge"><span id="done-tick"></span>Record updated<br>
          </h1>
          <h2 class="heading-large"><span class="heading-secondary" style="color:white;">OHS Reference number</span> 
            {% if data['ohs'] %}
							{{ data['ohs']}}
						{% else %}
							25000002
						{% endif %}
          </h2>
        </div>

        <h2 class="heading-medium">What happens next</h2>
        <p>An email will be sent to the internal mailbox once the relevant checks have been complete. This can take up to 24 hours.</p>

        <p>
        <a href="../found-record/person-case-maternity-evidence-requested.html">View updated details</a>
        </p>

        <br>
        <div class="form-group">
          <a class="button" href="search">Do another search</a>
        </div>

        <!-- <h3 class="heading-small">Before you go</h3>
        <p>Help us to improve the service by <a href="#">answering some questions</a> about it.</p> -->

      </div>
    </div>

  </main>

{% endblock %}
