{% extends "layout_bsa.html" %}

{% block page_title %}
     Evidence required
{% endblock %}

{% block content %}
<style>
     .heading-large .heading-secondary {
          color: white;
     }
</style>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="done-panel" style="background-color: #70777b;">
                    <h1 class="heading-xlarge"></span>Evidence required</h1>
                    <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
               </div>
               <div class="form-group">
                    <h2 class="heading-medium second">Next steps</h2>
                     <ul class="list list-bullet">
                         <li>Tell the applicant that an email has been sent to them that explains what evidence we require in order to progress their application. </li>
                         <li>The email explains where to send the evidence to and also provides the applicant’s OHS reference number which should be quoted in any correspondence.</li>
                         <!--<li>Forward the call to the registration team, providing them with the applicant’s OHS number.</li> -->
                     </ul>
                    <a href="case-record-additional-req" class="link">View updated details</a>
               </div>
               <div class="form-group">
                    <a href="search" class="button">Do another search</a>
               </div>
          </div>
     </div>
</main>
{% endblock %}
