{% extends "layout_bsa.html" %}

{% block page_title %}
   EHIC issued for Karen Francis
{% endblock %}

{% block content %}
<style>
     .heading-large .heading-secondary {
          color: white;
     }
     .column-one-quarter.lpads {
        width: 20px;
        padding: 0;
        margin-right: 10px;
     }
     .nhsuk-inset-text {
    max-width: 44em;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 16px;
    border-left: 8px solid #005eb8;
}
.nhsuk-inset-text>*:last-child {
    margin-bottom: 0;
}
</style>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="done-panel">
                    <h1 class="heading-xlarge"><span id="done-tick"></span>GHIC issued for Michael Philip</h1>
                    <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
               </div>
               <div class="form-group">
                   <h2 class="heading-medium">Next steps</h2>
                   <p>Tell the customer that</p>
                    <ul class="list list-bullet">
                         <li>they will receive an email confirming that their application has been sucessful</li>
                         <li>their card will be sent to address they provided</li>

                    </ul>
                    <p>Approved this entitlement by mistake? </p>
                    <ul class="list list-bullet">
                         <li>Select 'Cancel entitlement' option in the customer record. </li>
                    </ul>
                    
                    <a href="case-record-issued" class="link">View updated details</a>
               </div>
               <div class="form-group">
                    <a href="search" class="button">Do another search</a>
               </div>
          </div>
     </div>
</main>
{% endblock %}
