{% extends "layout_bsa.html" %}

{% block page_title %}
	Institution search
{% endblock %}

{% block content %}
<style>
	.form-control-3-4 {
		width: 32.7%;
	}

	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="grid-row">
		<div class="column-full">
			<div class="banner-information-without-action">
				<p class="banner-message">
					<span class="name text-capitalize">Rosie Philip</span>
					<span class="vertical-bar">|</span>
					<span class="ohs-reference-number">25000005</span>
				</p>
			</div>
		</div>
		<div class="column-two-thirds">
			<div class="heading-group">
				<h1 class="heading-large">Institution search</h1>
			</div>
		</div>
		<form action="institution-search-results" method="get" class="form">
			<div class="column-full">
				<div class="form-group">
					<label class="form-label" for="ohs">Institution code</label>
					<input class="form-control" id="ohs" name="ohs" type="text" autocomplete="off" value="10000001" />
				</div>
				<div class="form-group">
					<p class="form-block">or</p>
				</div>
				<div class="form-group">
					<label class="form-label" for="first-name">Institution country</label>
					<input class="form-control" id="first-name" name="first-name" type="text" autocomplete="off" disabled />
				</div>
				<div class="form-group">
					<label class="form-label" for="last-name">Institution name</label>
					<input class="form-control" id="last-name" name="last-name" type="text" autocomplete="off" disabled />
				</div>
				<div class="form-group">
					<a class="button" href="institution-search-results-ig-dep">Search</a>
				</div>
			</div>
		</form>
	</div>
</main>
{% endblock %}
