{% extends "layout_bsa.html" %}

{% block page_title %}
     GHIC has been rejected
{% endblock %}

{% block content %}
<style>
     .heading-large .heading-secondary {
          color: white;
     }
</style>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="done-panel" style="background-color: #70777b;">
                    <h1 class="heading-xlarge"></span>GHIC application has been cancelled for Michael Philip</h1>
                    <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
               </div>
               <div class="form-group">
                    <h2 class="heading-medium second">Next steps</h2>
                     <ul class="list list-bullet">
                         <li>Content goes here</li>
                         <li>Content goes here</li>
                         <li>Conrtent goes here</li>
                     </ul> 
               </div> 
               <div class="form-group">
                    <a href="person-entitlements-cancelled" class="link">View updated details</a>
               </div>
               <div class="form-group">
                    <a href="#" class="button">Do another search</a>
               </div>
          </div>
     </div>
</main>
{% endblock %}
