{% extends "layout_bsa.html" %}

{% block page_title %}
     S1 entitlement issued for Michael Philip
{% endblock %}

{% block content %}
<style>
     .heading-large .heading-secondary {
          color: white;
     }
</style>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="not-done-panel">
                    <h1 class="heading-xlarge">Evidence required</h1>
                    <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
               </div>
               <div class="form-group">
                    <h2 class="heading-medium">What happens next</h2>
                    <p>You'll receive a letter within 10 working days. You then must send evidence of National Insurance contributions for each country to us to be reviewed.</p>
                    <a href="#" class="link">View updated details</a>
               </div>
               <div class="form-group">
                    <a href="#" class="button">Do another search</a>
               </div>
          </div>
     </div>
</main>
{% endblock %}
