{% extends "layout_bsa.html" %}
{% block page_title %}
	You are not entitled to healthcare paid for by the UK
{% endblock %}
{% block content %}
<style>
	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="grid-row">
			<div class="column-two-thirds">
				<form method="get" action="search" class="form">
					<div class="form-group">
						<h1 class="heading-large">
							We could not confirm your identity 
							<!-- using the information you provided -->
						</h1>
					</div>
					<div class="form-group">
						<p>This may be because</p>
						<ul class="list list-bullet">
							<li>The National Insurance number you provided is incorrect</li>
							<li>Your name or date of birth does not match the National Insurance number you provided</li>
						</ul>
						<p>You must get in contact with the Department for Work and Pensions.</p>
						<ul class="list list-bullet">
							<li>Phone: <span class="bold">0123 456 7890</span></li>
							<li>Email: <span class="bold">info@dwp.gov.uk</span></li>
						</ul>
					</div>
					<div class="form-group">
						<a class="button" href="search">Back to search</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock %}
