{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-large">
        Check the answers before sending the application
      </h1>
      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Personal details
      </h2>
         <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                     <dt class="cya-question">National Insurance number</dt>
                     <dd class="cya-answer">SR123456A</dd>
                     <dd class="cya-change">
                     </dd>
                </div>

                <div>
                     <dt class="cya-question">Name</dt>
                     <dd class="cya-answer">Sarah Philip</dd>
                     <dd class="cya-change">
                     </dd>
                </div>

                <div>
                     <dt class="cya-question">Date of birth</dt>
                     <dd class="cya-answer">
                          5 January 1978
                     </dd>
                     <dd class="cya-change">
                     </dd>
                </div>
           </dl>

           <h2 class="heading-medium">Eligibility details</h2>

           <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                     <dt class="cya-question">Member state</dt>
                     <dd class="cya-answer">France</dd>
                     <dd class="cya-change">
                          <a href="#">Change<span class="visually-hidden"> name</span></a>
                     </dd>
                </div>

                <div>
                     <dt class="cya-question">Residency moving date</dt>
                     <dd class="cya-answer">21 February 2018</dd>
                     <dd class="cya-change">
                          <a href="#">Change<span class="visually-hidden"> name</span></a>
                     </dd>
                </div>

                <div>
                     <dt class="cya-question">UK State Pension entitlement date</dt>
                     <dd class="cya-answer">
                          5 February 2018
                     </dd>
                     <dd class="cya-change">
                          <a href="#">Change<span class="visually-hidden"> date of birth</span></a>
                     </dd>
                </div>

                <div>
                     <dt class="cya-question">Pension from country you are moving to</dt>
                     <dd class="cya-answer">
                          No
                     </dd>
                     <dd class="cya-change">
                          <a href="#">Change<span class="visually-hidden"> date of birth</span></a>
                     </dd>
                </div>

                <div>
                     <dt class="cya-question">Pension from another member state</dt>
                     <dd class="cya-answer">
                          No
                     </dd>
                     <dd class="cya-change">
                          <a href="#">Change<span class="visually-hidden"> date of birth</span></a>
                     </dd>
                </div>
           </dl>

           <h2 class="heading-medium">Contact details</h2>

           <dl class="govuk-check-your-answers cya-questions-short">

                <div>
                     <dt class="cya-question">Residency address</dt>
                     <dd class="cya-answer">1 Rue Haut<br>
                   Downtown<br>
                   Lille<br>
                   123456<br>
                   France
                   </dd>
                     <dd class="cya-change">
                          <a href="#">Change<span class="visually-hidden"> home address</span></a>
                     </dd>
                </div>

                <div>
                     <dt class="cya-question">Correspondence address</dt>
                     <dd class="cya-answer">Rúa do Paseo 64<br>
                   Umbrete<br>
                   Seville<br>
                   123456<br>
                   France
                   </dd>
                     <dd class="cya-change">
                          <a href="#">Change<span class="visually-hidden"> home address</span></a>
                     </dd>
                </div>

                <div>
                     <dt class="cya-question">Telephone number</dt>
                     <dd class="cya-answer">+0502135326</dd>
                     <dd class="cya-change">
                          <a href="#">Change<span class="visually-hidden"> previous application number</span></a>
                     </dd>
                </div>

                <div>
                     <dt class="cya-question">Email address</dt>
                     <dd class="cya-answer">-</dd>
                     <dd class="cya-change">
                          <a href="#">Change<span class="visually-hidden"> licence type</span></a>
                     </dd>
                </div>
           </dl>


           <h2 class="heading-medium">Now send and create entitlement</h2>

           <p class="text">
                If you accept these details you confirm that to the best of your knowledge, the details you have added are correct.
           </p>

           <div class="form-group">
                <a href="done" class="button">Accept and create entitlement</a>
           </div>
        </div>
    </div>
  </div>
</main>

{% endblock %}
