{% extends "layout_bsa.html" %}

{% block page_title %}
    What is your correspondence address?
{% endblock %}

{% block content %}

<style>
    /* checkbox */
    .govuk-checkboxes__item {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.25;
        display: block;
        position: relative;
        min-height: 40px;
        margin-bottom: 10px;
        padding-left: 40px;
        clear: left;
    }
    .govuk-checkboxes__input {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: -2px;
        left: -2px;
        width: 44px;
        height: 44px;
        margin: 0;
        opacity: 0;
    }
    .govuk-checkboxes__label {
        display: inline-block;
        margin-bottom: 0;
        padding: 8px 15px 5px;
        cursor: pointer;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
    }
    .govuk-label {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.25;
        color: #0b0c0c;
        display: block;
        margin-bottom: 5px;
    }
    .govuk-checkboxes__label::before {
        content: "";
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border: 2px solid currentColor;
        background: transparent;
    }
    .govuk-checkboxes__input:checked+.govuk-checkboxes__label::after {
        opacity: 1;
    }
    .govuk-checkboxes__label::after {
        content: "";
        position: absolute;
        top: 11px;
        left: 9px;
        width: 18px;
        height: 7px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border: solid;
        border-width: 0 0 5px 5px;
        border-top-color: transparent;
        opacity: 0;
        background: transparent;
    }
    /* end checkbox */
</style>

<main id="content" role="main">
    <div class="grid-row">
       <div class="column-full">
          <div id="back">
             <a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
          </div>
       </div>
    </div>
    <div class="grid-row">
       <div class="column-two-thirds">
          <div class="heading-group">
             <h1 class="heading-large">What is your correspondence address?</h1>
          </div>
          <div class="form-group">
             <label class="form-label">Postcode</label>
             <p><span class="bold">B1 3JS </span>&nbsp<a href="enter-postcode-corr">Change</a></p>
          </div>
          <div class="form-group" style="margin-bottom:10px;">
             <label class="form-label" for="select-box">Select an address</label>
             <select class="form-control" id="select-box"  style="height:40px";>
                <option value="Wellington street,Birmingham B1 1JX ">Albert street,Birmingham B1 3JS</option>
                <option value="One address found" selected>One address found</option>
             </select>
          </div>
          <br>  
          <a href="corr-address">I can't find my address in the list</a>
          <div class="form-group">
             <br>
             <a class="button" href="conf-corr-address">Next</a>
             <a class="button button-secondary" href="search">Cancel</a>
          </div>
          </form>
       </div>
    </div>
 </main>
{% endblock %}
