{% extends "layout_bsa.html" %}

{% block page_title %}
	Check these details are correct before proceeding
{% endblock %}

{% block content %}
<style>
	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="grid-row">
			<!-- <div class="column-full">
				<div class="banner-information-without-action">
					<p class="banner-message">
						<span class="name text-capitalize">Michael Philip</span>
						<span class="vertical-bar">|</span>
						<span class="ohs-reference-number">25000002</span>
					</p>
				</div>
			</div> -->
			<div class="column-two-thirds">
				<div class="heading-group">
					<h1 class="heading-large">Check these details are correct before proceeding</h1>
				</div>
				
				<div class="form-group">
					<h2 class="heading-medium">Contact details</h2>
					<dl class="govuk-check-your-answers cya-questions-short">
						<div>
							<dt class="cya-question">Residential address</dt>
							<dd class="cya-answer">Wellington street <br>
								Birmingham <br>
								B1 1JX<br>
								England
							</dd>
							<dd class="cya-change">
								<a href="enter-postcode-corr">Change<span class="visually-hidden"> residential address</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Correspondence address</dt>
							<dd class="cya-answer">-
							</dd>
							<dd class="cya-change">
								<a href="">Change<span class="visually-hidden"> correspondance address</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Email address</dt>
							<dd class="cya-answer">michael.philip@email.com</dd>
							<dd class="cya-change">
								<a href="contact-details">Change<span class="visually-hidden"> Email address</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Telephone number</dt>
							<dd class="cya-answer">07829393002</dd>
							<dd class="cya-change">
								<a href="contact-details">Change<span class="visually-hidden"> Telephone number</span></a>
							</dd>
						</div>
					</dl>
				</div>
				<div class="form-group">
					<a href="case-record" class="button">Next</a>
					<a class="button button-secondary" href="search">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
