{% extends "layout_bsa.html" %}
{% block page_title %}
Accident consequences
{% endblock %}
{% block content %}
<style>
   /* banner */
   .banner-information-without-action {
   color: #005ea5;
   }
   .banner-message {
   font-family: Arial, sans-serif;
   font-weight: 400;
   text-transform: none;
   font-size: 36px;
   line-height: 1.2;
   padding: 20px;
   margin-top: 15px;
   margin-bottom: 15px;
   border-width: 5px;
   border-style: solid;
   font-weight: bold;
   text-align: center;
   }
   .vertical-bar {
   margin: 0px 10px;
   }
   /* end banner */
</style>
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div id="back">
            <a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
         </div>
      </div>
   </div>
   <div class="form-group">
      <div class="grid-row">
         <div class="column-full">
            <div class="banner-information-without-action">
               <p class="banner-message">
                  <span class="name text-capitalize">Michael Philip</span>
                  <span class="vertical-bar">|</span>
                  <span class="ohs-reference-number">25000002</span>
               </p>
            </div>
         </div>
         <div class="column-two-thirds">
            <div class="heading-group">
               <h1 class="heading-large">What are the consequences following the accident?</h1>
            </div>
            <div class="form-group">
               <label class="form-label" for="textarea-a">
               Details of consequence (wording to change)
               </label>
               <textarea class="form-control" id="textarea-a" cols="30" rows="5" style="width:94%">Broken leg, cannot walk</textarea>
            </div>
            <form action="check-your-answers-1" id="moving-date-form" method="get" class="form">
               <div class="form-group">
                  <a class="button" href="accident-date">Next</a>
                  <a class="button button-secondary" href="case-record">Cancel</a>
               </div>
            </form>
         </div>
      </div>
   </div>
</main>
{% endblock %}