{% extends "layout_bsa.html" %}

{% block page_title %}
    Entitlement issued
{% endblock %}

{% block content %}
<style>
     .heading-large .heading-secondary {
          color: white;
     }
</style>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="done-panel">
                    <h1 class="heading-xlarge"><span id="done-tick"></span>Entitlement issued for Michael Philip created</h1>
                    <h2 class="heading-large"><span class="heading-secondary">Main (insured person):</span> Sarah Philip</h2>
                    <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000007</h2>
               </div>
               <h2 class="heading-medium">What happens next</h2>
               <p>We'll review and process your application and you'll receive a letter in the next 10 working days. Once received, register the document with the relevant authority.</p>
               <div class="form-group">
                    <a href="../search" class="button">Do another search</a>
               </div>
               <a class="dialog-cancel" href="../dep/search" style="margin-left: -10px; font-size: 1em;">Add another dependant</a>
          </div>
     </div>

</main>

{% endblock %}
