{% extends "layout_bsa.html" %}

{% block page_title %}
     Service unavailable
{% endblock %}

{% block content %}
<style>
     .heading-large .heading-secondary {
          color: white;
     }
</style>

<main id="content" role="main">
     <div class="grid-row">
        <div class="column-full">
           <div id="back">
              <a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
           </div>
        </div>
     </div>
     <div class="grid-row">
        <div class="column-two-thirds">
           <div class="heading-group">
              <h1 class="heading-large">Sorry, the service is unavailable</h1>
           </div>
           <div class="form-group">
           <p>We are unable to find your address at this time.</p>
           <div class="form-group">
              <a class="button" href="contact-address">Enter address manually</a>
              <a class="button button-secondary" href="search">Cancel</a>
           </div>
           </form>
        </div>
     </div>
  </main>
{% endblock %}
