{% extends "layout_bsa.html" %}
{% block page_title %}
Check these details are correct before proceeding
{% endblock %}
{% block content %}

<style>
   span.status-tag-low {
      background-color: #85994b;
      color: #ffffff;
      vertical-align: baseline;
      padding: 2px 18px 1px;
      font-weight: 700;
      font-size: 14px;
      display: inline-block;
      position: relative;
      top: -0.05em;
   }
   span.status-tag-medium {
      background-color: #F47738;
      color: #ffffff;
      vertical-align: baseline;
      padding: 2px 9px 1px;
      font-weight: 700;
      font-size: 14px;
      display: inline-block;
      position: relative;
      top: -0.05em;
   }
   span.status-tag-high {
      background-color: #B10E1E;
      color: #ffffff;
      vertical-align: baseline;
      padding: 2px 16px 1px;
      font-weight: 700;
      font-size: 14px;
      display: inline-block;
      position: relative;
      top: -0.05em;
   }
</style>

<main id="content" role="main">
   <div class="grid-row">
      <div class="column-two-thirds">
         <a href="#" class="link-back">Back</a>
         <h1 class="heading-large">
            UK residency check result
         </h1>
         <form action="contact-address" id="check-person-details-form" method="get" class="form">
            <!-- <div>PASS</div> -->
            <div class="panel panel-border-wide" style="color: #B10E1E; border-color: #B10E1E">
               <p class="bold">FAIL</p>
            </div>
            <!-- <div class="panel panel-border-wide" style="color: #D4351F; border-color: #D4351F">
               <p class="bold">FAIL</p>
            </div> -->
            <h2 class="heading-medium">Personal details</h2>
            <dl class="govuk-check-your-answers cya-questions-short">
               <div>
                  <dt class="cya-question">OHS number</dt>
                  <dd class="cya-answer">25000002</dd>
                  <dd class="cya-change">
                     <!-- <p class="navigation">
                        <a class="cancel" href="search-dependant#first-name" data-toggle="dialog" data-target="dialog-4">Change<span class="visually-hidden"> full name</span></a>
                        </p> -->
                  </dd>
               </div>
               <div>
                  <dt class="cya-question">Full name</dt>
                  <dd class="cya-answer">	Michael Philip</dd>
                  <dd class="cya-change">
                     <!-- <p class="navigation">
                        <a class="cancel" href="search-dependant#first-name" data-toggle="dialog" data-target="dialog-4">Change<span class="visually-hidden"> full name</span></a>
                        </p> -->
                  </dd>
               </div>
               <div>
                  <dt class="cya-question">Date of birth</dt>
                  <dd class="cya-answer">
                     16/03/1974
                  </dd>
                  <dd class="cya-change">
                     <!-- <p class="navigation">
                        <a class="cancel" href="search-dependant#date-of-birth" data-toggle="dialog" data-target="dialog-4">Change<span class="visually-hidden"> date of birth</span></a>
                        </p> -->
                  </dd>
               </div>
               <div>
                  <dt class="cya-question">Address</dt>
                  <dd class="cya-answer">	1 Road<br>
                     Downtown<br>
                     Bristol<br>
                     BR1 5TL<br>
                     UK
                  </dd>
                  <dd class="cya-change">
                     <!-- <p class="navigation">
                        <a class="cancel" href="search-dependant#nino" data-toggle="dialog" data-target="dialog-4">Change<span class="visually-hidden"> National Insurance number</span></a>
                        </p> -->
                  </dd>
               </div>
            </dl>
            <br>
            <details>
               <summary>
                  <span class="summary">More details</span>
               </summary>
               <br>
               <dl class="govuk-check-your-answers cya-questions-short">
                  <div>
                     <dt class="cya-question" style="width: auto">Evidence that applicant lives in the UK</dt>

                     <!-- <dd><span class="status-tag-low font-xsmall" style="padding-left:25px; padding-right:25px;">STRONG</span></dd> -->
                     <dd class="cya-answer">None</dd>


                     <!-- <dd class="cya-answer">Strong</dd> -->
                     <!-- <dd class="cya-change"> -->
                     <!-- <p class="navigation">
                        <a class="cancel" href="search-dependant#first-name" data-toggle="dialog" data-target="dialog-4">Change<span class="visually-hidden"> full name</span></a>
                        </p> -->
                     <!-- </dd> -->
                  </div>
                  <div>
                     <dt class="cya-question" style="width: auto">	
                        Evidence that applicant lives outside the UK	
                     </dt>
                     <!-- <dd><span class="status-tag-medium font-xsmall" style="padding-left:25px; padding-right:25px;">SOME</span></dd> -->
                     <dd class="cya-answer">None</dd>
                     <!-- <dd class="cya-change"> -->
                     <!-- <p class="navigation">
                        <a class="cancel" href="search-dependant#first-name" data-toggle="dialog" data-target="dialog-4">Change<span class="visually-hidden"> full name</span></a>
                        </p> -->
                     <!-- </dd> -->
                  </div>
               </dl>
            </details>
            <br>
            

            <div class="form-group">
               <a class="button" href="done-prc">Review result</a>
            </div>
         </form>
      </div>
   </div>
</main>
{% endblock %}