{% extends "layout_bsa.html" %}
{% block page_title %}
Evidence of third country pension required
{% endblock %}
{% block content %}
<style>
   .heading-large .heading-secondary {
   color: white;
   }
</style>
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-two-thirds">
         <div class="done-panel" style="background-color: #70777b;">
            <h1 class="heading-xlarge"></span>Evidence required</h1>
            <h2 class="heading-large"><span class="heading-secondary">Main (insured person)</span> Michael Philip</h2>
            <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
         </div>
         <div class="form-group">
            <h2 class="heading-medium">What happens next</h2>
            <p>You'll receive a letter requesting evidence. Most customers receive this within 15 working days. Evidence is required showing pension contributions for:</p>
            <ul class="list list-bullet">
               <li>Lithuania</li>
               <li>Croatia</li>
            </ul> 
            <a href="case-record-101" class="link">View updated details</a>
         </div>
       <div class="form-group">
            <a href="#" class="button">Do another search</a>
       </div>
</main>
{% endblock %}