{% extends "layout_bsa.html" %}

{% block page_title %}
     S1 posted worker entitlement registered for Michael Philip
{% endblock %}

{% block content %}
<style>
     .heading-large .heading-secondary {
          color: white;
     }
</style>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="done-panel">
                    <h1 class="heading-xlarge"><span id="done-tick"></span>Transitional Replacement Certificate (TRC) Sent</h1>
               </div>
               <div class="form-group">
                   <h2 class="heading-medium">Michael Philips certificate was sent to:</h2>
                   <ul class="list list-bullet">
                        <li>ahospital@email.com</li>
                       <li>michael.philips@email.com</li>
                       <li>OHSadmin@email.com</li>
                   </ul>
                   <h2 class="heading-medium">Next steps</h2>
                   <div class="form-group">
                    <a href="search" class="button">Issue entitlement</a>
               </div>
                    <a href="case-record-eu" class="link">View patients updated record</a>
                   <br>
                   <a href="case-record-eu" class="link">Search for another patient</a>
               </div>
               
          </div>
     </div>
</main>
{% endblock %}
