{% extends "layout_bsa.html" %}

{% block page_title %}
Overseas Healthcare Services
{% endblock %}

{% block content %}

<main id="content" role="main">
    <form action="search" method="get" class="form form-to-validate" id="login-form" novalidate="novalidate" autocomplete="off">
        <div class="form-group">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <div class="heading-group">
                        <h1 class="heading-xlarge">Overseas Healthcare Services</h1>
                    </div>
                    <div class="text">
                        <p>Use this service to:</p>
                        <ul class="list list-bullet">
                            <li>provide entitlements for people moving to any European Economic Area (EEA) country or Switzerland </li>
                            <li>provide entitlements for people requiring assistance during the EU exit transition period</li>
                            <!-- <li>Use your NHSBSA email details to sign in. </li> -->
                        </ul>
                    </div>
                    <form action="search" method="get" class="form">
                        <div class="form-item-wrapper">
                            <div class="form-group">
                                <input class="button button-get-started" type="submit" value="Start">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</main>

{% endblock %}
