

<!-- INSERT HERE -->

{% extends "layout_bsa.html" %}
{% block page_title %}
Person record
{% endblock %}
{% block content %}
<style>

	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}


	.tab-container {
		position: relative;
		float: left;
		min-width: 100%;
		overflow: hidden;
		margin-top: 18px;
	}

	.tablinks.active {
		position: relative;
		float: left;
		line-height: 34px;
		top: 0px;
		left: 0px;
		margin-left: 5px;
		height: 64px;
		background-color: white;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		border-top: 1px solid #6F777B;
		border-left: 1px solid #6F777B;
		border-right: 1px solid #6F777B;
		z-index: 4;
		color: black;
		text-decoration: none;
		font-size: 19px;
		line-height: 1.31579;
		font-weight: 700;
	}

	.tablinks {
		position: relative;
		float: left;
		line-height: 34px;
		top: 0px;
		left: 2px;
		margin-left: 5px;
		height: 58px;
		background-color: white;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		z-index: 1;
		background-color: #DEE0E2;
		font-size: 19px;
		line-height: 1.31579;
		font-weight: 700;
	}

	.tabcontentActive {
		display: block;
	}

	.tabcontent {
		display: none;
		padding-top: 20px;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
	}

	table th,
	table td {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 19px;
		line-height: 1.25;
		padding: 0.63158em 1.05263em 0.47368em 0;
		text-align: left;
		color: #0b0c0c;
		border-bottom: 1px solid #bfc1c3;
	}

	table td.title {
		font-weight: 700;
	}

	table th {
		font-weight: 700;
	}

	tr {
		height: 60px;
	}

	.heading-small {
		font-size: 19px;
		line-height: 1.31579;
		font-weight: 700;
	}

	.visually-hidden {
		display: none;
	}

	.major-container {
		width: 70%;
		margin: 0 5% 0 0;
		float: left;
	}

	.button.button-secondary.entitlements {
		width: 22.5%;
		text-align: center;
		margin: 5px 15px 0 0;
	}

	span.status-tag-low {
		background-color: #85994b;
		color: #ffffff;
		vertical-align: baseline;
		padding: 2px 18px 1px;
		font-weight: 700;
		font-size: 14px;
		display: inline-block;
		position: relative;
		top: -0.05em;
	}

	span.status-tag-medium {
		background-color: #F47738;
		color: #ffffff;
		vertical-align: baseline;
		padding: 2px 9px 1px;
		font-weight: 700;
		font-size: 14px;
		display: inline-block;
		position: relative;
		top: -0.05em;
	}

	span.status-tag-high {
		background-color: #B10E1E;
		color: #ffffff;
		vertical-align: baseline;
		padding: 2px 16px 1px;
		font-weight: 700;
		font-size: 14px;
		display: inline-block;
		position: relative;
		top: -0.05em;
	}

	span.status-tag-requested {
		background-color: #70777b;
		color: #ffffff;
		vertical-align: baseline;
		padding: 2px 9px 1px;
		font-weight: 700;
		font-size: 14px;
		display: inline-block;
		position: relative;
		top: -0.05em;
	}

	/* #myDIV, #myDIV2, #myDIV3, #myDIV4 {
		background: #F8F8F8;
	} */

	details summary:before {
		content: none;
	}
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="search" id="back-link">Back</a>
			</div>
		</div>
	</div>
		
		<div class="form-group">
			<div class="grid-row">
				<div class="column-full">
					<div class="banner-information-without-action">
						<p class="banner-message">
							<span class="name text-capitalize">
								{% if data['firstName'] %}
									{{ data['firstName']}} {{ data['lastName']}}
								{% else %}
									Michelle Philip
								{% endif %}
							</span>
							<span class="vertical-bar">|</span>
							<span class="ohs-reference-number">
								{% if data['ohs'] %}
									{{ data['ohs']}}
								{% else %}
									25000002
								{% endif %}
							</span>
						</p>
					</div>
				

				<div class="heading-group">
					<h1 class="heading-large">Check your answers</h1>
						
				</div>
				
				<h2>Amended entitlement details</h2>
				
					<form action="review-evidence-maternity-email-options" method="post" class="form">
						
						
											<td colspan="8" style="margin-bottom: 10px;">
												
													<div class="main-container form-group">
														<div class="major-container">
															<table id="entitlementDetails" class="check-table" style="margin-bottom: 10px;">
																
                    

																<caption class="visually-hidden">A table displaying the
																	entitlement expiry date details</caption>
																<tbody>
																	<tr class="row">
																		<td class="column title">Type</td>
																		<td class="column">Maternity care and delivery</td>
																	</tr>

																	<!-- <tr class="row">
																		<td class="column title">Request received</td>
																		<td class="column">
																			{% if data['dateOfRequest'] %}
																				{{ data['dateOfRequest']}}
																			{% else %}
																				09/12/2022
																			{% endif %}
																		</td>
																	</tr>
																	<tr class="row">
																		<td class="column title">Birth country</td>
																		<td class="column">
																			{% if data['locationPicker'] %}
																				{{ data['locationPicker']}}
																			{% else %}
																				Austria
																			{% endif %}
																		</td>
																	</tr>
																	<tr class="row">
																		<td class="column title">Nationality</td>
																		<td class="column">
																			
																				<span>UK national</span><br>
																				<span>Austria</span><br>
																				<span>Albania</span><br>
																			
																		</td>
																	</tr>
																	<tr class="row">
																		<td class="column title">Date leaving UK</td>
																		<td class="column">
																			{% if data['leaveDate'] %}
																				{{ data['leaveDate']}}
																			{% else %}
																				01/01/2023
																			{% endif %}</td>
																	</tr> -->
																	
																	<tr class="row">
																		<td class="column title">Expected date of
																			delivery</td>
																		<td class="column">
																			{% if data['treatmentStartMNew'] %}
																				{{ data['treatmentStartMNew'] }}
																			{% else %}
																				15/05/2023
																			{% endif %}

																		</td>
																		<td class="cya-change">
																			<a href="treatment-start-maternity-correct-new#treatmentStartMNew">Change<span class="visually-hidden"> the treatment start date</span></a>
																		</td>
																	</tr>
																	<tr class="row">
																		<td class="column title">Estimated delivery
																			end date</td>
																		<td class="column">
																			{% if data['treatmentEndM']  %}
																				{{ data['treatmentEndM'] }}
																			{% elseif data['treatmentStartMNew'] %}
																				{{ convertMaxEndM }}
																			{% else %}
																				28/09/2023
																			{% endif %}								

																		</td>
																		<td class="cya-change">
																			<a href="treatment-end-maternity-new#treatmentEndM">Change<span class="visually-hidden"> the treatment end date</span></a>
																		</td>
																	</tr>

																</tbody>

															</table>

														</div>
														
													</div>
									

                        <div class="form-group">
                            <input class="button" type="submit" value="Next"/>
                            <a class="button button-secondary" href="search">Cancel</a>
                        </div>

					</form>
					
			</div>	
		
	</div>

</main>

<script src="/public/javascripts/jquery-1.11.3.js"></script>
{% endblock %}