{% extends "layout_bsa.html" %}

{% block page_title %}
    Check your answers before cancelling an entitlement
{% endblock %}

{% block content %}
<style>
    /* banner */
    .banner-information-without-action {
        color: #005ea5;
    }
    .banner-message {
        font-family: Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 36px;
        line-height: 1.2;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-width: 5px;
        border-style: solid;
        font-weight: bold;
        text-align: center;
    }
    .vertical-bar {
        margin: 0px 10px;
    }
    /* end banner */
</style>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div id="back">
                <a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="grid-row">
            <!-- <div class="column-full">
                <div class="banner-information-without-action">
                    <p class="banner-message">
                        <span class="name text-capitalize">Michael Philip</span>
                        <span class="vertical-bar">|</span>
                        <span class="ohs-reference-number">25000002</span>
                    </p>
                </div>
            </div> -->
            <div class="column-two-thirds">
                <div class="heading-group">
                    <h1 class="heading-large">Check your answers before cancelling an entitlement</h1>
                </div>
                <div class="form-group">
                    <table class="check-table">
                        <tbody>
                           <!--  <tr>
                                <td class="bold">Who requested this cancellation?</td>
                                <td>{{data.cancel}}</td>
                                <td><a href="cancel-entitlement#cancel-source">Change</a></td>
                            </tr> -->
                            <tr>
                                <td class="bold">What is the reason for cancellation?</td>
                                <td>{{data.cancelR}}</td>
                                <td><a href="cancel-reason-new">Change</a></td>
                            </tr>
                            <tr>
                                <td class="bold">What is the date of cancellation?</td>
                                <!-- <td>26/06/2019</td> -->
                                <td>{{data.cancelDate}}</td>
                                <td><a href="cancel-date">Change</a></td>
                            </tr>
                            <tr>
                                <td class="bold">Cancellation is issued by whom?</td>
                                <td>{{data.cancelI}}</td>
                                <td><a href="cancel-issued">Change</a></td>
                            </tr>
                            <tr>
                                <td class="bold">Cancellation is to be sent by what means?</td>
                                <td>{{data.cancelM}}</td>
                                <td><a href="cancel-means">Change</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <a href="case-record-6" class="button">Submit</a>
                    <a class="button button-secondary" href="case-record-2">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
