{% extends "layout_bsa.html" %}

{% block page_title %}
    What is your residential address?
{% endblock %}

{% block content %}

<style>
    /* checkbox */
    .govuk-checkboxes__item {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.25;
        display: block;
        position: relative;
        min-height: 40px;
        margin-bottom: 10px;
        padding-left: 40px;
        clear: left;
    }
    .govuk-checkboxes__input {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: -2px;
        left: -2px;
        width: 44px;
        height: 44px;
        margin: 0;
        opacity: 0;
    }
    .govuk-checkboxes__label {
        display: inline-block;
        margin-bottom: 0;
        padding: 8px 15px 5px;
        cursor: pointer;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
    }
    .govuk-label {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.25;
        color: #0b0c0c;
        display: block;
        margin-bottom: 5px;
    }
    .govuk-checkboxes__label::before {
        content: "";
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border: 2px solid currentColor;
        background: transparent;
    }
    .govuk-checkboxes__input:checked+.govuk-checkboxes__label::after {
        opacity: 1;
    }
    .govuk-checkboxes__label::after {
        content: "";
        position: absolute;
        top: 11px;
        left: 9px;
        width: 18px;
        height: 7px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border: solid;
        border-width: 0 0 5px 5px;
        border-top-color: transparent;
        opacity: 0;
        background: transparent;
    }
    /* end checkbox */
</style>

<main id="content" role="main">
    <div class="grid-row">
       <div class="column-full">
          <div id="back">
             <a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
          </div>
       </div>
    </div>
    <div class="grid-row">
       <div class="column-two-thirds">
        <div class="error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="error-summary-heading heading-medium" id="error-summary-title">
              There is a problem
            </h2>
            <div class="error-summary-p">
              <ul class="list error-summary-list a">
                <li>
                  <a href="#postcode">No address was found, check postcode</a>
                </li>
                <li>
                    <a href="res-address">Enter address manually</a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="heading-group">
             <h1 class="heading-large">What is your residential address?</h1>
          </div>
          <div class="form-group form-group-error">
            <label class="form-label">
              Postcode
            </label>
            <span class="error-message" id="example-error" style="font-weight: bold;">
              <span class="visually-hidden">Error:</span> No address was found, check postcode
            </span>
            <input class="form-control form-control-1-4 form-control-error" id="postcode" name="address-postcode" aria-describedby="name-error" type="text" autocomplete="off" value="B11JX">
          </div>
          <div class="form-group">
             <a class="button" href="no-address-found">Find address</a>
             <a class="button button-secondary" href="search">Cancel</a>
          </div>
            <div class="panel panel-border-wide" >
              If you live outside the UK, <a href="res-address">enter address manually</a>
            </div>
       </div>
    </div>
 </main>
{% endblock %}
