{% extends "layout_bsa.html" %}

{% block page_title %}
	What are your address details?
{% endblock %}

{% block content %}
<style>

	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="grid-row">
			<div class="column-full">
				<div class="banner-information-without-action">
					<p class="banner-message">
						<span class="name text-capitalize">Test S2</span>
						<span class="vertical-bar">|</span>
						<span class="ohs-reference-number">25000002</span>
					</p>
				</div>
			</div>
			<div class="column-two-thirds">
				<div class="heading-group">
					<h1 class="heading-large">What are your address details? (optional)</h1>
				</div>

            <form action="address-details" method="post" class="form">
                
                    <div class="form-group">
                        <label class="form-label" for="lineone">Building and street (Line 1)</label>
                        <input class="form-control" id="lineone" name="address-lineone" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="linetwo">Building and street (Line 2)</label>
                        <input class="form-control"  id="linetwo" name="address-linetwo" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="town">Town or city</label>
                        <input class="form-control" id="town" name="town" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="postcode">Postcode</label>
                        <input class="form-control form-control-1-4"  id="postcode" name="addressPostcode" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="country">Country</label>
                        <input class="form-control" id="country" name="country" type="text" autocomplete="off">
                    </div>
					<div class="form-group">
						<input class="button" type="submit" value="Next">
						<a class="button button-secondary" href="case-record">Cancel</a>
					</div>
            </form>
        </div>
    </div>
</main>

<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script>
	document.getElementById('example').focus();
</script>
{% endblock %}
