{% extends "layout_bsa.html" %}

{% block page_title %}
	Check your answers before sending the application
{% endblock %}

{% block content %}
<style>
	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="grid-row">
			<div class="column-full">
				<div class="banner-information-without-action">
					<p class="banner-message">
						<span class="name text-capitalize">
							{% if data['fullName'] %}
								{{ data['fullName']}}
							{% else %}
								Test S2
							{% endif %}
						</span>
						<span class="vertical-bar">|</span>
						<span class="ohs-reference-number">
							{% if data['ohs'] %}
								{{ data['ohs']}}
							{% else %}
								25000002
							{% endif %}
						</span>
					</p>
				</div>
			</div>
			<div class="column-two-thirds">
				<div class="heading-group">
					<h1 class="heading-large">Check your answers before sending the application</h1>
				</div>
				<div class="form-group">
					<h2 class="heading-medium">Personal details</h2>
					<dl class="govuk-check-your-answers cya-questions-short">
						<div>
							<dt class="cya-question">OHS reference number</dt>
							<dd class="cya-answer">
								{% if data['ohs'] %}
									{{ data['ohs']}}
								{% else %}
									25000002
								{% endif %}
							</dd>
							<dd class="cya-change"></dd>
						</div>

						{% if (data['entitlementType']) === 'Maternity benefits' %}
						<div>
							<dt class="cya-question">Nationality</dt>
							<dd class="cya-answer">
								{% if data['nationality'] %}
					
									{% if 'UK' in data['nationality'] %}
										UK
									{% endif %}

									{% if 'EU, EEA or Swiss' in data['nationality'] %}
										EU
									{% endif %}

									{% if 'Other' in data['nationality'] %}
										Other
									{% endif %}

								{% endif %}
							</dd>
							<dd class="cya-change">
								<a href="nationality">Change<span class="visually-hidden"> your nationality</span></a>
							</dd>
						</div>
						{% endif %}

						<div>
							<dt class="cya-question">Full name</dt>
							<dd class="cya-answer">
								{% if data['fullName'] %}
									{{ data['fullName']}}
								{% else %}
									&#8212;
								{% endif %}
							</dd>
							<dd class="cya-change">
								<a href="full-name#full-name">Change<span class="visually-hidden"> your name</span></a>
							</dd>
						</div>

						<div>
							<dt class="cya-question">Date of birth</dt>
							<dd class="cya-answer">
								{% if data['dateOfBirth'] %}
									{{ data['dateOfBirth']}}
								{% else %}
									&#8212;
								{% endif %}
							</dd>
							<dd class="cya-change">
								<a href="dob#dob">Change<span class="visually-hidden"> your date of birth</span></a>
							</dd>
						</div>

						<div>
							<dt class="cya-question">National Insurance number</dt>
							<dd class="cya-answer">
								{% if data['nino'] %}
									{{ data['nino']}}
								{% else %}
									&#8212;
								{% endif %}
							</dd>
							<dd class="cya-change">
								<a href="nino#nino">Change<span class="visually-hidden"> your National Insurance Number</span></a>
							</dd>
						</div>

						<div>
							<dt class="cya-question">NHS number</dt>
							<dd class="cya-answer">
								{% if data['nhsNumber'] %}
									{{ data['nhsNumber']}}
								{% else %}
									&#8212;
								{% endif %}
							</dd>
							<dd class="cya-change">
								<a href="nhs-number#nhs-number">Change<span class="visually-hidden"> your NHS Number</span></a>
							</dd>
						</div>
						
					</dl>
				</div>
				<div class="form-group">
					<h2 class="heading-medium">Eligibility details</h2>
					<dl class="govuk-check-your-answers cya-questions-short">
						<div>
							<dt class="cya-question">What date was the request received by the business?</dt>
							<dd class="cya-answer">{{ data['dateOfRequest']}}</dd>
							<dd class="cya-change">
								<a href="date-request#date-of-request">Change<span class="visually-hidden"> the date the request received by the business</span></a>
							</dd>
						</div>

						<div>
							<dt class="cya-question">What is the S2 entitlement for?</dt>
							<dd class="cya-answer">{{ data['entitlementType']}}</dd>
							<dd class="cya-change">
								<a href="what-s2-entitlement">Change<span class="visually-hidden"> the S2 entitlement type</span></a>
							</dd>
						</div>

						{% if (data['entitlementType']) === 'Planned treatment' %}
							<div>
								<dt class="cya-question">What country are you having treatment in?</dt>
								<dd class="cya-answer">{{ data['locationPicker']}}</dd>
								<dd class="cya-change">
									<a href="treatment-country-planned">Change<span class="visually-hidden"> the treatment country</span></a>
								</dd>
							</div>
							{% elseif (data['entitlementType']) === 'Maternity benefits' %}
								<div>
									<dt class="cya-question">What country are you having treatment in?</dt>
									<dd class="cya-answer">{{ data['locationPicker']}}</dd>
									<dd class="cya-change">
										<a href="treatment-country-maternity">Change<span class="visually-hidden"> the treatment country</span></a>
									</dd>
								</div>
							{% endif %}

						{% if (data['entitlementType']) === 'Planned treatment' %}
							<div>
								<dt class="cya-question">Do you have an active S1?</dt>
								<dd class="cya-answer">{{ data['activeSOne']}}</dd>
								<dd class="cya-change">
									<a href="active-s1-planned">Change<span class="visually-hidden"> the active S1 answer</span></a>
								</dd>
							</div>
						{% elseif (data['entitlementType']) === 'Maternity benefits' %}
							<div>
								<dt class="cya-question">Do you have an active S1?</dt>
								<dd class="cya-answer">{{ data['activeSOne']}}</dd>
								<dd class="cya-change">
									<a href="active-s1-maternity">Change<span class="visually-hidden"> the active S1 answer</span></a>
								</dd>
							</div>
						{% endif %}

						{% if (data['activeSOne']) === 'Yes' %}
							{% if (data['entitlementType']) === 'Planned treatment' %}
							<div>
								<dt class="cya-question">What country do you have an active S1 for?</dt>
								<dd class="cya-answer">{{ data['countrySOne']}}</dd>
								<dd class="cya-change">
									<a href="s1-country-planned">Change<span class="visually-hidden"> the active S1 country</span></a>
								</dd>
							</div>
							{% elseif (data['entitlementType']) === 'Maternity benefits' %}
								<div>
									<dt class="cya-question">What country do you have an active S1 for?</dt>
									<dd class="cya-answer">{{ data['countrySOne']}}</dd>
									<dd class="cya-change">
										<a href="s1-country-maternity">Change<span class="visually-hidden"> the active S1 country</span></a>
									</dd>
								</div>
							{% endif %}
						{% endif %}
						
						{% if (data['entitlementType']) === 'Planned treatment' %}
							<div>
								<dt class="cya-question">When is the treatment expected to start?</dt>
								<dd class="cya-answer">{{ data['treatmentStartP']}}</dd>
								<dd class="cya-change">
									<a href="treatment-start-planned#treatment-start">Change<span class="visually-hidden"> the treatment start date</span></a>
								</dd>
							</div>
						{% elseif (data['entitlementType']) === 'Maternity benefits' %}
							<div>
								<dt class="cya-question">When is the treatment expected to start?</dt>
								<dd class="cya-answer">{{ data['treatmentStartM']}}</dd>
								<dd class="cya-change">
									<a href="treatment-start-maternity#treatment-start">Change<span class="visually-hidden"> the treatment start date</span></a>
								</dd>
							</div>
						{% endif %}

						{% if (data['entitlementType']) === 'Planned treatment' %}
							<div>
								<dt class="cya-question">When is the treatment expected to end?</dt>
								{% if (data['treatmentEndP']) !== '' %}
								<dd class="cya-answer">{{ data['treatmentEndP']}}</dd>
								{% elseif (data['treatmentEndP']) === '' %}
								<dd class="cya-answer">{{ convertMaxEndP }}</dd>
								{% endif %}
								<dd class="cya-change">
									<a href="treatment-end-planned#treatment-end">Change<span class="visually-hidden"> the treatment end date</span></a>
								</dd>
							</div>
						{% elseif (data['entitlementType']) === 'Maternity benefits' %}
							<div>
								<dt class="cya-question">When is the treatment expected to end?</dt>
								{% if (data['treatmentEndM']) !== '' %}
								<dd class="cya-answer">{{ data['treatmentEndM']}}</dd>
								{% elseif (data['treatmentEndM']) === '' %}
								<dd class="cya-answer">{{ convertMaxEndM }}</dd>
								{% endif %}
								<dd class="cya-change">
									<a href="treatment-end-maternity#treatment-end">Change<span class="visually-hidden"> the treatment end date</span></a>
								</dd>
							</div>
						{% endif %}

						{% if (data['entitlementType']) === 'Planned treatment' %}
							<div>
								<dt class="cya-question">What is the name of the treatment facility?</dt>
								<dd class="cya-answer">{{ data['treatmentFacilityName']}}</dd>	
								<dd class="cya-change">
									<a href="treatment-facility-name#treatment-facility-name">Change<span class="visually-hidden"> the name of the treatment facility</span></a>
								</dd>
							</div>
						{% endif %}

					</dl>
				</div>
				<div class="form-group">
					<h2 class="heading-medium">Contact details</h2>
					<dl class="govuk-check-your-answers cya-questions-short">
						
						<div>
							<dt class="cya-question">Correspondence address</dt>
							<dd class="cya-answer">
								{% if data %}
									{% if data['address-lineone'] %}
										{{ data['address-lineone']}}
									{% else %}
										&#8212;
									{% endif %}
									<br>
									{% if data['town'] %}
										{{ data['town']}}
									{% else %}
										&#8212;
									{% endif %}
									<br>
									{% if data['addressPostcode'] %}
										{{ data['addressPostcode']}}
									{% else %}
										&#8212;
									{% endif %}
									<br>
									{% if data['country'] %}
										{{ data['country']}}
									{% endif %}
								{% else %}
									&#8212;
								{% endif %}
							</dd>
							<dd class="cya-change">
								<a href="address-details">Change<span class="visually-hidden"> your address</span></a>
							</dd>
						</div>
						
						<div>
							<dt class="cya-question">Email address</dt>
							<dd class="cya-answer">
								{% if data['emailAddress'] %}
									{{ data['emailAddress']}}
								{% else %}
									&#8212;
								{% endif %}
							</dd>
							<dd class="cya-change">
								<a href="contact-details">Change<span class="visually-hidden"> your email address</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Phone number</dt>
							<dd class="cya-answer">
								{% if data['phoneNumber'] %}
									{{ data['phoneNumber']}}
								{% else %}
									&#8212;
								{% endif %}
							</dd>
							<dd class="cya-change">
								<a href="contact-details">Change<span class="visually-hidden"> your phone number</span></a>
							</dd>
						</div>
					</dl>
				</div>
				<div class="form-group">
					<h2 class="heading-medium">Now create and send entitlement</h2>
					<p class="text">
						By accepting these details, you are confirming they are correct to the best of your knowledge.
					</p>
				</div>
				<div class="form-group">
					<a href="done" class="button">Accept and submit</a>
					<a class="button button-secondary" href="search">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</main>


{% endblock %}
