{% extends "layout_bsa.html" %}

{% block page_title %}
	What are your contact details (optional)?
{% endblock %}

{% block content %}
<style>

	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="grid-row">
			<div class="column-full">
				<div class="banner-information-without-action">
					<p class="banner-message">
						<span class="name text-capitalize">Test S2</span>
						<span class="vertical-bar">|</span>
						<span class="ohs-reference-number">25000002</span>
					</p>
				</div>
			</div>
			<div class="column-two-thirds">
				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
					<h2 class="heading-medium error-summary-heading" id="error-summary-heading">
						There is a problem
					</h2>
					<ul class="error-summary-list">
						<li class="error-message">
							<a href="#email-address">
								Enter an email address in the correct format, like name@example.com
							</a>
						</li>
					</ul>
				</div>

				<div class="heading-group">
					<h1 class="heading-large">What are your contact details?</h1>
				</div>

            <form action="contact-details-email" method="post" class="form">
                
					<p>We ask for this so we can respond to any questions.</p>
                    <div class="form-group">
                        <label class="form-label" for="phone-number">Mobile number (optional)</label>
						<span class="form-hint">
							For international numbers include the country code.
						</span>
                        <input class="form-control" id="phone-number" name="phoneNumber" type="text" autocomplete="off" />
                    </div>

					<div class="form-group-error">
                        <label class="form-label" for="email-address">Email address (optional)</label>
						<span class="error-message">
							Enter an email address in the correct format, like name@example.com
						</span>
                        <input class="form-control-error" id="email-address" name="emailAddress" type="text" autocomplete="off" />
                    </div>

					<!-- <div class="form-group">
						<div class="govuk-checkboxes">
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="ohs-1" name="ohs" type="checkbox">
								<label class="govuk-label govuk-checkboxes__label" for="ohs-1">
									Email address and telephone number not provided
								</label>
							</div>
						</div>
					</div> -->
					<div class="form-group">
						<input class="button" type="submit" value="Next">
						<a class="button button-secondary" href="case-record">Cancel</a>
					</div>
               
            </form>
			
        </div>
    </div>
</main>

<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script>
	document.getElementById('example').focus();
</script>
{% endblock %}
