{% extends "layout_bsa.html" %}

{% block page_title %}
     Email sent to Michelle Philip
{% endblock %}

{% block content %}
<style>
     .heading-large .heading-secondary {
          color: white;
     }
</style>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="done-panel">
                    <h1 class="heading-xlarge"><span id="done-tick"></span>S2 requested for Michelle Philip</h1>
                    <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
               </div>
               <div class="form-group">
                    <h2 class="heading-medium second">What happens next</h2>
                    <p>The S2 application has been submitted.</p>
                     
                    <a href="person-case-maternity-awaiting-review" class="link">View updated details</a>
               </div>
               <div class="form-group">
                    <a href="search" class="button">Do another search</a>
               </div>
          </div>
     </div>
</main>
{% endblock %}
