{% extends "layout_bsa.html" %}

{% block page_title %}
    What is your nationality?
{% endblock %}

{% block content %}



<style>
	/* checkbox */
    .govuk-checkboxes__item {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.25;
        display: block;
        position: relative;
        min-height: 40px;
        margin-bottom: 10px;
        padding-left: 40px;
        clear: left;
    }
    .govuk-checkboxes__input {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: -2px;
        left: -2px;
        width: 44px;
        height: 44px;
        margin: 0;
        opacity: 0;
    }
    .govuk-checkboxes__label {
        display: inline-block;
        margin-bottom: 0;
        padding: 8px 15px 5px;
        cursor: pointer;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
    }
    .govuk-label {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.25;
        color: #0b0c0c;
        display: block;
        margin-bottom: 5px;
    }
    .govuk-checkboxes__label::before {
        content: "";
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border: 2px solid currentColor;
        background: transparent;
    }
    .govuk-checkboxes__input:checked+.govuk-checkboxes__label::after {
        opacity: 1;
    }
    .govuk-checkboxes__label::after {
        content: "";
        position: absolute;
        top: 11px;
        left: 9px;
        width: 18px;
        height: 7px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border: solid;
        border-width: 0 0 5px 5px;
        border-top-color: transparent;
        opacity: 0;
        background: transparent;
    }
    /* end checkbox */

    /* autocomplete */

	@media (min-width: 40.0625em) {
    .nhsuk-form-group .autocomplete__wrapper {
       max-width: 74ex;
    }}

	@media (min-width: 641px) {
		.autocomplete__hint, .autocomplete__input, .autocomplete__option {
		font-size: 19px;
		line-height: 1.31579;
		}
	}

	.autocomplete__hint, .autocomplete__input, .autocomplete__option {
		font-size: 16px;
		line-height: 1.25;
	}

	.autocomplete__input--default {
		padding: 5px;
	}

	.autocomplete__input {
		background-color: transparent;
		position: relative;
	}

	.autocomplete__hint, .autocomplete__input {
		border: 2px solid #0b0c0c;
		border-radius: 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		margin-bottom: 0;
		width: 100%;
	}

	button, input, select, textarea {
		font-family: inherit;
	}

	
	input {
		writing-mode: horizontal-tb !important;
		text-rendering: auto;
		color: fieldtext;
		letter-spacing: normal;
		word-spacing: normal;
		line-height: normal;
		text-transform: none;
		text-indent: 0px;
		text-shadow: none;
		display: inline-block;
		text-align: start;
		appearance: auto;
		-webkit-rtl-ordering: logical;
		cursor: text;
		background-color: field;
		margin: 0em;
		padding: 1px 2px;
		border-width: 2px;
		border-style: inset;
		border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
		border-image: initial;
	}

	/* end of autocomplete */

	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="grid-row">
			<div class="column-full">
				<div class="banner-information-without-action">
					<p class="banner-message">
						<span class="name text-capitalize">Test S2</span>
						<span class="vertical-bar">|</span>
						<span class="ohs-reference-number">25000002</span>
					</p>
				</div>
			</div>
			<div class="column-two-thirds">
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
					<h2 class="heading-medium error-summary-heading" id="error-summary-heading">
						There is a problem
					</h2>
					<ul class="error-summary-list">
						<li class="error-message">
							<a href="#eu-location-picker">
								Enter an EU country, Switzerland, Norway, Iceland or Liechtenstein
							</a>
                            <br>
                            <a href="#other-location-picker">
                                Enter a country for a nationality not listed
                            </a>
						</li>
					</ul>
				</div>

				<div class="heading-group">
					<h1 class="heading-large">What is your nationality?</h1>
				</div>
				<form class="form" action="nationality-eu-other-error" method="post">

					<div class="form-group">
						<fieldset id="nationality-error">

							<div class="govuk-checkboxes">
								
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="UK" aria-describedby="nationality-1-item-hint">
									<label class="govuk-label govuk-checkboxes__label" for="nationality-1">
										United Kingdom (UK) national
                                        <span class="form-hint">This includes English, Scottish, Welsh or Northern Irish</span>
									</label>
                                    
								</div>

                                <!-- EU, EEA conditional -->
                                <div class="govuk-checkboxes__item">
                                    <div data-target="conditional-nationality-2">
                                        <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="EU, EEA" aria-describedby="nationality-2-item-hint" aria-controls="conditional-nationality-2" aria-expanded="false">
                                        <label class="govuk-label govuk-checkboxes__label" for="nationality-2">An EU citizen, or a national of Iceland, Liechtenstein, Norway, or Switzerland</label>
                                    </div>
                                
                                    <div class="panel panel-border-narrow" id="conditional-nationality-2">
                                        <div class="form-group form-group-error autocomplete-container" id="appendableEURT">
                                                <label class="govuk-label form-label" for="eu-location-picker">Country name</label>
                                                <span class="error-message">
                                                    Enter an EU country, Switzerland, Norway, Iceland or Liechtenstein
                                                </span>
                                                <select id="eu-location-picker" class="eu-nationality error" name="myInputsEURT[]" type="text">
                                                    <option value=""></option>
                                                    <option value="at">Austria</option>
                                                    <option value="be">Belgium</option>
                                                    <option value="bg">Bulgaria</option>
                                                    <option value="hr">Croatia</option>
                                                    <option value="cy">Cyprus</option>
                                                    <option value="cz">Czech Republic</option>
                                                    <option value="dk">Denmark</option>
                                                    <option value="ee">Estonia</option>
                                                    <option value="fi">Finland</option>
                                                    <option value="fr">France</option>
                                                    <option value="de">Germany</option>
                                                    <option value="gr">Greece</option>
                                                    <option value="hu">Hungary</option>
                                                    <option value="is">Iceland</option>
                                                    <option value="ie">Ireland</option>
                                                    <option value="it">Italy</option>
                                                    <option value="lv">Latvia</option>
                                                    <option value="li">Liechtenstein</option>
                                                    <option value="lt">Lithuania</option>
                                                    <option value="lu">Luxemburg</option>
                                                    <option value="mt">Malta</option>
                                                    <option value="nl">Netherlands</option>
                                                    <option value="no">Norway</option>
                                                    <option value="pl">Poland</option>
                                                    <option value="pt">Portugal</option>
                                                    <option value="ro">Romania</option>
                                                    <option value="sk">Slovakia</option>
                                                    <option value="si">Slovenia</option>
                                                    <option value="es">Spain</option>
                                                    <option value="se">Sweden</option>
                                                    <option value="sw">Switzerland</option>
                                                </select>
                                            <a style="margin-top: 1.5rem; margin-bottom: 1.5rem;" class="button button-secondary" onClick="return addInputEURT(this)">
                                                Add additional country
                                            </a>
                                           
                                        </div>
                                        
                                    </div>
                                    <br>
                                </div>

                                <!-- Other conditional -->

                                <div class="govuk-checkboxes__item">
                                    <div data-target="conditional-nationality-3">
                                        <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="Other" aria-describedby="nationality-3-item-hint" aria-controls="conditional-nationality-3" aria-expanded="false">
                                        <label class="govuk-label govuk-checkboxes__label" for="nationality-2">Any other nationality not listed</label>
                                    </div>
                                    <br>
                                    <div class="panel panel-border-narrow" id="conditional-nationality-3">
                                        
                                        <div class="form-group form-group-error autocomplete-container" id="appendableOtherRT">
                                                <label class="govuk-label form-label" for="other-location-picker">Country name</label>
                                                <span class="error-message">
                                                    Enter a country for a nationality not listed
                                                </span>
                                                <select id="other-location-picker" class="other-nationality error" name="myInputsOtherRT[]" type="text">
                                                    <option value=""></option>
                                                    <option value="af">Afghanistan</option>
                                                    <option value="al">Albania</option>
                                                    <option value="dz">Algeria</option>
                                                    <option value="as">American Samoa</option>
                                                    <option value="ad">Andorra</option>
                                                    <option value="ao">Angola</option>
                                                    <option value="ai">Anguilla</option>
                                                    <option value="aq">Antarctica</option>
                                                    <option value="ag">Antigua and Barbuda</option>
                                                    <option value="ar">Argentina</option>
                                                    <option value="am">Armenia</option>
                                                    <option value="aw">Aruba</option>
                                                    <option value="au">Australia</option>
                                                    <option value="az">Azerbaijan</option>
                                                    <option value="bs">Bahamas </option>
                                                    <option value="bh">Bahrain</option>
                                                    <option value="bd">Bangladesh</option>
                                                    <option value="bb">Barbados</option>
                                                    <option value="by">Belarus</option>
                                                    <option value="bz">Belize</option>
                                                    <option value="bj">Benin</option>
                                                    <option value="bm">Bermuda</option>
                                                    <option value="bt">Bhutan</option>
                                                    <option value="bo">Bolivia (Plurinational State of)</option>
                                                    <option value="bq">Bonaire, Sint Eustatius and Saba</option>
                                                    <option value="ba">Bosnia and Herzegovina</option>
                                                    <option value="bw">Botswana</option>
                                                    <option value="bv">Bouvet Island </option>
                                                    <option value="br">Brazil</option>
                                                    <option value="io">British Indian Ocean Territory </option>
                                                    <option value="bn">Brunei Darussalam</option>
                                                    <option value="bf">Burkina Faso</option>
                                                    <option value="bi">Burundi</option>
                                                    <option value="cv">Cabo Verde</option>
                                                    <option value="kh">Cambodia</option>
                                                    <option value="cm">Cameroon</option>
                                                    <option value="ca">Canada</option>
                                                    <option value="ky">Cayman Islands </option>
                                                    <option value="cf">Central African Republic </option>
                                                    <option value="td">Chad</option>
                                                    <option value="cl">Chile</option>
                                                    <option value="cn">China</option>
                                                    <option value="cx">Christmas Island</option>
                                                    <option value="cc">Cocos (Keeling) Islands </option>
                                                    <option value="co">Colombia</option>
                                                    <option value="km">Comoros</option>
                                                    <option value="cd">Congo (the Democratic Republic of the)</option>
                                                    <option value="cg">Congo</option>
                                                    <option value="ck">Cook Islands </option>
                                                    <option value="cr">Costa Rica </option>
                                                    <option value="cu">Cuba</option>
                                                    <option value="cw">Curaçao</option>
                                                    <option value="ci">Côte d'Ivoire</option>
                                                    <option value="dj">Djibouti</option>
                                                    <option value="dm">Dominica</option>
                                                    <option value="do">Dominican Republic </option>
                                                    <option value="ec">Ecuador</option>
                                                    <option value="eg">Egypt</option>
                                                    <option value="sv">El Salvador</option>
                                                    <option value="gq">Equatorial Guinea</option>
                                                    <option value="er">Eritrea</option>
                                                    <option value="sz">Eswatini</option>
                                                    <option value="et">Ethiopia</option>
                                                    <option value="fk">Falkland Islands </option>
                                                    <option value="fo">Faroe Islands</option>
                                                    <option value="fj">Fiji</option>
                                                    <option value="gf">French Guiana</option>
                                                    <option value="pf">French Polynesia</option>
                                                    <option value="tf">French Southern Territories</option>
                                                    <option value="ga">Gabon</option>
                                                    <option value="gm">Gambia</option>
                                                    <option value="ge">Georgia</option>
                                                    <option value="gh">Ghana</option>
                                                    <option value="gi">Gibraltar</option>
                                                    <option value="gl">Greenland</option>
                                                    <option value="gd">Grenada</option>
                                                    <option value="gp">Guadeloupe</option>
                                                    <option value="gu">Guam</option>
                                                    <option value="gt">Guatemala</option>
                                                    <option value="gn">Guinea</option>
                                                    <option value="gw">Guinea-Bissau</option>
                                                    <option value="gy">Guyana</option>
                                                    <option value="ht">Haiti</option>
                                                    <option value="hm">Heard Island and McDonald Islands</option>
                                                    <option value="hn">Honduras</option>
                                                    <option value="hk">Hong Kong</option>
                                                    <option value="in">India</option>
                                                    <option value="id">Indonesia</option>
                                                    <option value="ir">Iran</option>
                                                    <option value="iq">Iraq</option>
                                                    <option value="il">Israel</option>
                                                    <option value="jm">Jamaica</option>
                                                    <option value="jp">Japan</option>
                                                    <option value="jo">Jordan</option>
                                                    <option value="kz">Kazakhstan</option>
                                                    <option value="ke">Kenya</option>
                                                    <option value="ki">Kiribati</option>
                                                    <option value="kp">Korea (the Democratic People's Republic of)</option>
                                                    <option value="kr">Korea (the Republic of)</option>
                                                    <option value="kw">Kuwait</option>
                                                    <option value="kg">Kyrgyzstan</option>
                                                    <option value="la">Lao People's Democratic Republic (the)</option>
                                                    <option value="lb">Lebanon</option>
                                                    <option value="ls">Lesotho</option>
                                                    <option value="lr">Liberia</option>
                                                    <option value="ly">Libya</option>
                                                    <option value="mo">Macao</option>
                                                    <option value="mg">Madagascar</option>
                                                    <option value="mw">Malawi</option>
                                                    <option value="my">Malaysia</option>
                                                    <option value="mv">Maldives</option>
                                                    <option value="ml">Mali</option>
                                                    <option value="mt">Malta</option>
                                                    <option value="mh">Marshall Islands</option>
                                                    <option value="mq">Martinique</option>
                                                    <option value="mr">Mauritania</option>
                                                    <option value="mu">Mauritius</option>
                                                    <option value="yt">Mayotte</option>
                                                    <option value="mx">Mexico</option>
                                                    <option value="fm">Micronesia (Federated States of)</option>
                                                    <option value="md">Moldova (the Republic of)</option>
                                                    <option value="mc">Monaco</option>
                                                    <option value="mn">Mongolia</option>
                                                    <option value="me">Montenegro</option>
                                                    <option value="ms">Montserrat</option>
                                                    <option value="ma">Morocco</option>
                                                    <option value="mz">Mozambique</option>
                                                    <option value="mn">Myanmar</option>
                                                    <option value="na">Namibia</option>
                                                    <option value="nr">Nauru</option>
                                                    <option value="np">Nepal</option>
                                                    <option value="nc">New Caledonia</option>
                                                    <option value="nz">New Zealand</option>
                                                    <option value="ni">Nicaragua</option>
                                                    <option value="ne">Niger</option>
                                                    <option value="ng">Nigeria</option>
                                                    <option value="nu">Niue</option>
                                                    <option value="nf">Norfolk Island</option>
                                                    <option value="mp">Northern Mariana Islands</option>
                                                    <option value="om">Oman</option>
                                                    <option value="pk">Pakistan</option>
                                                    <option value="pw">Palau</option>
                                                    <option value="ps">Palestine, State of</option>
                                                    <option value="pa">Panama</option>
                                                    <option value="pg">Papua New Guinea</option>
                                                    <option value="py">Paraguay</option>
                                                    <option value="pe">Peru</option>
                                                    <option value="ph">Philippines</option>
                                                    <option value="pn">Pitcairn</option>
                                                    <option value="pr">Puerto Rico</option>
                                                    <option value="qa">Qatar</option>
                                                    <option value="mk">Republic of North Macedonia</option>
                                                    <option value="ru">Russian Federation</option>
                                                    <option value="rw">Rwanda</option>
                                                    <option value="re">Réunion</option>
                                                    <option value="bl">Saint Barthélemy</option>
                                                    <option value="sh">Saint Helena, Ascension and Tristan da Cunha</option>
                                                    <option value="kn">Saint Kitts and Nevis</option>
                                                    <option value="lc">Saint Lucia</option>
                                                    <option value="mf">Saint Martin (French part)</option>
                                                    <option value="pm">Saint Pierre and Miquelon</option>
                                                    <option value="vc">Saint Vincent and the Grenadines</option>
                                                    <option value="ws">Samoa</option>
                                                    <option value="sm">San Marino</option>
                                                    <option value="st">Sao Tome and Principe</option>
                                                    <option value="sa">Saudi Arabia</option>
                                                    <option value="sn">Senegal</option>
                                                    <option value="rs">Serbia</option>
                                                    <option value="sc">Seychelles</option>
                                                    <option value="sl">Sierra Leone</option>
                                                    <option value="sg">Singapore</option>
                                                    <option value="sx">Sint Maarten (Dutch part)</option>
                                                    <option value="sb">Solomon Islands</option>
                                                    <option value="so">Somalia</option>
                                                    <option value="za">South Africa</option>
                                                    <option value="gs">South Georgia and the South Sandwich Islands</option>
                                                    <option value="ss">South Sudan</option>
                                                    <option value="lk">Sri Lanka</option>
                                                    <option value="sd">Sudan</option>
                                                    <option value="sr">Suriname</option>
                                                    <option value="sj">Svalbard and Jan Mayen</option>
                                                    <option value="sy">Syrian Arab Republic</option>
                                                    <option value="tw">Taiwan</option>
                                                    <option value="tj">Tajikistan</option>
                                                    <option value="tz">Tanzania, United Republic of</option>
                                                    <option value="th">Thailand</option>
                                                    <option value="tl">Timor-Leste</option>
                                                    <option value="tg">Togo</option>
                                                    <option value="tk">Tokelau</option>
                                                    <option value="to">Tonga</option>
                                                    <option value="tt">Trinidad and Tobago</option>
                                                    <option value="tn">Tunisia</option>
                                                    <option value="tr">Turkey</option>
                                                    <option value="tm">Turkmenistan</option>
                                                    <option value="tc">Turks and Caicos Islands</option>
                                                    <option value="tv">Tuvalu</option>
                                                    <option value="ug">Uganda</option>
                                                    <option value="ua">Ukraine</option>
                                                    <option value="ae">United Arab Emirates</option>
                                                    <option value="um">United States Minor Outlying Islands</option>
                                                    <option value="us">United States of America</option>
                                                    <option value="uy">Uruguay</option>
                                                    <option value="uz">Uzbekistan</option>
                                                    <option value="vu">Vanuatu</option>
                                                    <option value="va">Vatican City</option>
                                                    <option value="ve">Venezuela</option>
                                                    <option value="vn">Vietnam</option>
                                                    <option value="vg">Virgin Islands (British)</option>
                                                    <option value="vi">Virgin Islands (U.S.)</option>
                                                    <option value="wf">Wallis and Futuna</option>
                                                    <option value="eh">Western Sahara</option>
                                                    <option value="ye">Yemen</option>
                                                    <option value="zm">Zambia</option>
                                                    <option value="zw">Zimbabwe</option>
                                                    <option value="ax">Åland Islands</option>
                                                </select>
                                            
                                            
                                            <a style="margin-top: 1.5rem;" class="button button-secondary" onClick="return addInputOtherRT(this)">
                                                Add additional country
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                

                                
							</div>
						</fieldset>
					</div>
                    <div class="form-group">
						<input class="button" type="submit" value="Next">
						<a class="button button-secondary" href="search">Cancel</a>
				    </div> 
					
				</form>
                <details>

                    <summary><span class="summary">More information about dual nationality</span></summary>
                  
                    <div class="panel panel-border-narrow">
                  
                        <p>If you are a national of at least one EU country, or any of the other European countries 
                            listed, you should select <strong style="font-weight:bold;">An EU citizen or a national of Iceland, Liechtenstein, Norway, or Switzerland</strong> and tell us which countries.</p>
                          <p>If you are also a UK national, select <strong style="font-weight:bold;">United Kingdom (UK) national</strong> as well.</p>
                          <p>If you have dual or multiple nationalities involving nationality of the UK and another 
                            country not listed, select <strong style="font-weight:bold;">United Kingdom (UK) national</strong>, then select <strong style="font-weight:bold;">Any other nationality 
                            not listed</strong> and tell us which countries.</p>
                          <p>If you have dual or multiple nationalities not involving the UK, the EU or any of the other 
                            European countries listed, select <strong style="font-weight:bold;">Any other nationality not listed</strong> and add each country in turn.</p>
                  
                    </div>
                  
                  </details>
                
			</div>
		</div>
	</div>
</main>

<script src="/public/javascripts/accessible-autocomplete.js"></script>

{% endblock %}