{% extends "layout_bsa.html" %}

{% block page_title %}
	View error
{% endblock %}

{% block content %}
<style>
/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>
<main id="content" role="main">
	<div class="grid-row">
	  <div class="column-two-thirds">
		<h1 class="heading-large">Sorry, there is a technical problem</h1>
		<p class="govuk-body">Try again after some time.</p>
		<p class="govuk-body">If you are still unable to view, please contact the IT service desk for support.</p>
	  </div>
	</div>

	<div class="form-group">
		<a class="button" href="case-record">Back to record</a>
	</div>
  </main>
{% endblock %}
