{% extends "layout_bsa.html" %}

{% block page_title %}
	What are your contact details?
{% endblock %}

{% block content %}

<style>
	/* checkbox */
	.govuk-checkboxes__item {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 400;
		font-size: 19px;
		line-height: 1.25;
		display: block;
		position: relative;
		min-height: 40px;
		margin-bottom: 10px;
		padding-left: 40px;
		clear: left;
	}
	.govuk-checkboxes__input {
		cursor: pointer;
		position: absolute;
		z-index: 1;
		top: -2px;
		left: -2px;
		width: 44px;
		height: 44px;
		margin: 0;
		opacity: 0;
	}
	.govuk-checkboxes__label {
		display: inline-block;
		margin-bottom: 0;
		padding: 8px 15px 5px;
		cursor: pointer;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
	}
	.govuk-label {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 400;
		font-size: 19px;
		line-height: 1.25;
		color: #0b0c0c;
		display: block;
		margin-bottom: 5px;
	}
	.govuk-checkboxes__label::before {
		content: "";
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		border: 2px solid currentColor;
		background: transparent;
	}
	.govuk-checkboxes__input:checked+.govuk-checkboxes__label::after {
		opacity: 1;
	}
	.govuk-checkboxes__label::after {
		content: "";
		position: absolute;
		top: 11px;
		left: 9px;
		width: 18px;
		height: 7px;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		border: solid;
		border-width: 0 0 5px 5px;
		border-top-color: transparent;
		opacity: 0;
		background: transparent;
	}
	/* end checkbox */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="heading-group">
				<h1 class="heading-large">What are your contact details?</h1>
			</div>
			<form action="case-record" id="contact-details-form" method="get" class="form">
				<p>We ask for this so we can respond to any questions.</p>
				<div class="form-group">
					<label class="form-label" for="last-name-2">Email address</label>
					<input class="form-control" id="last-name-2" name="email" type="text" autocomplete="off" value="michael.philip@email.com">
				</div>
				<div class="form-group">
					<label class="form-label" for="first-name-2">Telephone number</label>
					<input class="form-control" id="first-name-2" name="landline" type="text" autocomplete="off" value="07829393002">
				</div>
				<div class="form-group">
					<div class="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="ohs-1" name="ohs" type="checkbox" value="not provided">
							<label class="govuk-label govuk-checkboxes__label" for="ohs-1">
								Email address and telephone number not provided
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<a class="button" href="case-record">Next</a>
					<a class="button button-secondary" href="search">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</main>
{% endblock %}
