<!-- <div id="header-logo">
  <div class="header-wrapper">
    <a id="bsa-logo" href="/index.html">
      <img src="/public/images/bsa/bsa_logo.svg">
    </a>
  </div>
</div> -->
<style>
  #global-headerinternal {
       border-bottom: 1px solid #BFC1C3;
       height: 70px;
  }
</style>
<div id="header-logo">
  <div class="header-wrapper">
       <div class="column-full">
            <a id="bsa-logo" href="/index" style="display: inline-block; padding-top: 110px; margin-left:-15px; display: inline-block;">
                  <img src="/public/images/bsa/nhs-logo.png" style="width:100px;">
                 </a>
            <p id="service-title" style="display: inline-block; padding-top:15px; margin-left: -200px; font-weight: 700; font-family: " nta",Arial,sans-serif; font-size: 1.5rem; line-height: 1.25;">Overseas Healthcare Services</p>

            <a href="" id="signout" style="display: inline-block; padding-top:15px;  margin-left: 650px;">Sign out</a>


       </div>
  </div>
</div>
