<!-- <div id="header-logo">
   <div class="header-wrapper">
     <a id="bsa-logo" href="/index.html">
       <img src="/public/images/bsa/bsa_logo.svg">
     </a>
   </div>
   </div> -->
<style>
   #global-headerinternal {
   border-bottom: 1px solid #BFC1C3;
   height: 70px;
   }
</style>
<div id="header-logo">
   <div class="header-wrapper">
      <div class="grid-row">
         <div class="column-full">
            <a id="bsa-logo" href="/index" style="display: inline-block; padding-top: 105px; display: inline-block;">
            <img src="/public/images/bsa/nhs-logo.png" style="width:100px;">
            </a>
            <p id="service-title" style="display: inline-block; padding-top:10px; margin-left: -200px; font-weight: 700; font-family: " nta",Arial,sans-serif; font-size: 1.5rem; line-height: 1.25;">Manage EU entitlements</p>
            <a href="/index" id="signout" style="float: right; display: inline-block; padding-top:20px;">Sign out</a>
            <p style="float: right; display: inline-block; padding-top:20px; padding-right: 10px;">Logged in as SURNAME, Firstname | Prototype  </p>

         </div>
      </div>
   </div>
</div>