{% extends "layout_bsa.html" %}
{% block page_title %}
   Overseas Healthcare Prototype
{% endblock %}
{% block content %}
<style>
   hr {
   display: block;
   background: #bfc1c3;
   border: 0;
   height: 1px;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 0;
   }
</style>
<!--
   Button
   <a href="v9_0/admin/ut/windows-login"><input class="button" type="submit" value="Open"></a> 
   -->
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <h1 class="heading-xlarge">
            <span class="heading-secondary">NHSBSA Design</span>
            Overseas Healthcare Services Prototype
         </h1>
         <h2 class="heading-medium">Citizens Rights Agreement - EHIC</h2>
         <div class="panel panel-border-wide">
            <span class="bold">Note:</span> only EHIC journeys work in this version of the prototype.
         </div>
         <hr>
         <h2 class="heading-small">CCS</h2>
         <table>
            <thead>
               <tr>
                  <th>Scenario</th>
                  <th>Link</th>
                  <th>Journeys</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td valign="top">Applicant lives in UK<br>(New OHS record)</td>
                  <td valign="top">
                     <a href="v13_0/ccs/no-search-results/start">Start</a><br>
                  </td>
                  <td valign="top">
                     EU nationals with UK Settled Status<br>
                     <!-- Dependants of EU nationals<br> -->
                     UK nationals<br>
                     Students<br>
                     Posted workers (no S1 record in OHS)<br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">Applicant lives in EU<br>(Existing OHS record)</td>
                  <td valign="top">
                     <a href="v13_0/ccs/ehic-s1/start">Start</a><br>
                     <a href="v13_0/ccs/ehic-pw/start">Start</a><br>
                  </td>
                  <td valign="top">
                     S1 exportable benefits<br>
                     Posted workers<br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">Failed residency</td>
                  <td valign="top">
                     <a href="v13_0/ccs/failed-checks/start">Start</a><br>
                     <!-- <a href="v13_0/ccs/failed-checks/case-record">In progress</a><br> -->
                  </td>
                  <td valign="top">
                     EU nationals with UK Settled Status<br>
                     <!-- Dependants of EU nationals<br> -->
                     UK nationals<br>
                     <!-- Students<br> -->
                  </td>
               </tr>
            </tbody>
         </table>
         <br>
         <h2 class="heading-small">Admin</h2>
         <table>
            <thead>
               <tr>
                  <tr>
                  <th>Scenario</th>
                  <th>Link</th>
                  <th>Journeys</th>
               </tr>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td valign="top">Applicant lives in UK<br>(New OHS record)</td>
                  <td valign="top">
                     <a href="v13_0/admin/no-search-results/start">Start</a><br>
                  </td>
                  <td valign="top">
                     EU nationals with UK Settled Status<br>
                     <!-- Dependants of EU nationals<br> -->
                     <strike>UK nationals<br></strike>
                     Students<br>
                     Posted workers (no S1 record in OHS)<br>
                  </td>
               </tr>
               
               <tr>
                  <td valign="top">Applicant lives in UK</td>
                  <td valign="top">
                     <a href="v13_0/admin/no-search-results/case-record-6">Case record</a>
                  </td>
                  <td valign="top">
                     EHIC approval (Students example)
                  </td>
               </tr>
               <tr>
                  <td valign="top">Applicant lives in EU<br>(Existing OHS record)</td>
                  <td valign="top">
                     <a href="v13_0/admin/ehic-s1/start">Start</a><br>
                     <a href="v13_0/admin/ehic-pw/start">Start</a><br>
                  </td>
                  <td valign="top">
                     S1 exportable benefits<br>
                     Posted workers<br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">Failed residency</td>
                  <td valign="top">
                     <a href="v13_0/admin/failed-checks/start">Start</a><br>
                     <!-- <a href="v13_0/admin/failed-checks/case-record">Start</a><br> -->
                  </td>
                  <td valign="top">
                     EU nationals with UK Settled Status<br>
                     <!-- Dependants of EU nationals<br> -->
                     UK nationals<br>
                     <!-- Students<br> -->
                  </td>
               </tr>
               <tr>
                  <td valign="top">Failed HO</td>
                  <td valign="top">
                     <a href="v13_0/admin/failed-ho/case-record-8">Case record</a><br>
                     <!-- <a href="v13_0/admin/failed-checks/case-record">Start</a><br> -->
                  </td>
                  <td valign="top">
                     EU nationals with UK Settled Status<br>
                     <!-- Dependants of EU nationals<br> -->
                     <!-- UK nationals<br> -->
                     <!-- Students<br> -->
                  </td>
               </tr>
               <tr>
                  <td valign="top">Review checks screen</td>
                  <td valign="top">
                     <a href="v13_0/admin/no-search-results/review-checks">Review checks</a><br>
                     <!-- <a href="v13_0/admin/failed-checks/case-record">Start</a><br> -->
                  </td>
                  <td valign="top">
                     Review checks screen<br>
                  </td>
               </tr>
               
            </tbody>
         </table>
      </div>
   </div>
</main>
{% endblock %}