{% extends "layout_bsa.html" %}
{% block page_title %}
   Overseas Healthcare Prototype
{% endblock %}
{% block content %}
<style>
   hr {
   display: block;
   background: #bfc1c3;
   border: 0;
   height: 1px;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 0;
   }
</style>
<!--
   Button
   <a href="v9_0/admin/ut/windows-login"><input class="button" type="submit" value="Open"></a> 
   -->
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <h1 class="heading-xlarge">
            <span class="heading-secondary">NHSBSA Design</span>
            Overseas Healthcare Services Prototype
         </h1>
         <h2 class="heading-medium">Citizens Rights Agreement - EHIC</h2>
         <div class="panel panel-border-wide">
            <span class="bold">Note:</span> only EHIC journeys work in this version of the prototype.
         </div>
         <hr>
         <h2 class="heading-small">CCS</h2>
         <table>
            <thead>
               <tr>
                  <th>Journey</th>
                  <th>Link</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td valign="top">Applicant lives in UK</td>
                  <td valign="top">
                     <a href="v13_0/ccs/no-search-results/start">Start</a><br>
                  </td>
                  <td valign="top">
                     EU nationals with UK Settled Status<br>
                     <!-- Dependants of EU nationals<br> -->
                     UK nationals<br>
                     Students<br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">Applicant lives in EU</td>
                  <td valign="top">
                     <a href="v13_0/ccs/ehic-s1/start">Start</a>
                  </td>
                  <td valign="top">
                     Retired S1 holders<br>
                  </td>
               </tr>
               <!-- <tr>
                  <td valign="top">Applicant lives in EU</td>
                  <td valign="top"> -->
                     <!-- <a href="v13_0/ccs/no-search-results/start"> -->
                     <!-- TO DO -->
                  <!-- </a><br> -->
                  <!-- </td>
                  <td valign="top">
                     Retired S1 holders - Pre-application<br>
                  </td>
               </tr> -->
            </tbody>
         </table>
         <br>
         <h2 class="heading-small">Admin</h2>
         <table>
            <thead>
               <tr>
                  <th>Journey</th>
                  <th>Link</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td valign="top">Applicant lives in UK</td>
                  <td valign="top">
                     <a href="v13_0/admin/no-search-results/start">Start</a><br>
                  </td>
                  <td valign="top">
                     EU nationals with UK Settled Status<br>
                     <!-- Dependants of EU nationals<br> -->
                     UK nationals<br>
                     Students<br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">Applicant lives in EU</td>
                  <td valign="top">
                     <!-- <a href="v13_0/ccs/no-search-results/start"> -->
                     TO DO
                  <!-- </a><br> -->
                  </td>
                  <td valign="top">
                     Retired S1 holders<br>
                  </td>
               </tr>
               <!-- <tr>
                  <td valign="top">Applicant lives in EU</td>
                  <td valign="top"> -->
                     <!-- <a href="v13_0/ccs/no-search-results/start"> -->
                     <!-- TO DO -->
                  <!-- </a><br> -->
                 <!--  </td>
                  <td valign="top">
                     Retired S1 holders - Pre-application<br>
                  </td>
               </tr> -->
            </tbody>
         </table>
      </div>
   </div>
</main>
{% endblock %}