{% extends "layout_bsa.html" %}
{% block page_title %}
Overseas Healthcare Prototype
{% endblock %}
{% block content %}
<style>
   .versions-prod:before {
   content: "USABILITY TESTING";
   position: absolute;
   top: 0;
   left: 0;
   padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
   font-family: Arial, sans-serif;
   font-weight: 400;
   text-transform: none;
   font-size: 16px;
   line-height: 1.25;
   background: #2360AC;
   color: white;
   }
   .versions-prod {
   position: relative;
   overflow: hidden;
   border: 3px solid #2360AC;
   margin-top: 30px;
   margin-bottom: 35px;
   padding-top: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
   }
   @media (min-width: 641px) {
   .versions-prod {
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 30px;
   }
   }
   .versions:before {
   content: "RESEARCH";
   position: absolute;
   top: 0;
   left: 0;
   padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
   font-family: Arial, sans-serif;
   font-weight: 400;
   text-transform: none;
   font-size: 16px;
   line-height: 1.25;
   background: #bfc1c3;
   color: white;
   }
   .versions-alpha {
   position: relative;
   overflow: hidden;
   border: 3px solid #D53880;
   margin-top: 30px;
   margin-bottom: 35px;
   padding-top: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
   }
   @media (min-width: 641px) {
   .versions-alpha {
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 30px;
   }
   }
   .versions-alpha:before {
   content: "ALPHA";
   position: absolute;
   top: 0;
   left: 0;
   padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
   font-family: Arial, sans-serif;
   font-weight: 400;
   text-transform: none;
   font-size: 16px;
   line-height: 1.25;
   background: #D53880;
   color: white;
   }
   .versions {
   position: relative;
   overflow: hidden;
   border: 3px solid #bfc1c3;
   margin-top: 30px;
   margin-bottom: 35px;
   padding-top: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
   }
   hr {
   display: block;
   background: #bfc1c3;
   border: 0;
   height: 1px;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 0;
   }
</style>
<!--
   Button
   <a href="v9_0/admin/ut/windows-login"><input class="button" type="submit" value="Open"></a> 
   -->
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <h1 class="heading-xlarge">
            <span class="heading-secondary">NHSBSA Design</span>
            Overseas Healthcare Services Prototype
         </h1>
         <!-- ----------------- -->
         <!-- USABILITY TESTING -->
         <!-- ----------------- -->
         <div class="versions-prod">
            <!-- AGENT -->
            <h3><span class="strong">PRC integration (agent) - Version 1</span></h3>
            <!-- <p>Changes:</p> -->
            <ul class="list list-bullet">
               <!-- <li></li> -->
            </ul>
            <details open>
               <summary>
                  <span class="summary">Version 1</span>
               </summary>
               <ul class="list list-bullet">
                  <li>1. Main requests PRC and fails residency check <a href="v9_0/ccs/prc-fail/windows-login">(link)</a></li>
                  <li>2. Main requests PRC for a dependant <a href="v9_0/ccs/prc-fail/windows-login">(link)</a></li>
               </ul>
            </details>
            <hr>
            <!-- ADMIN -->
            <h3><span class="strong">PRC integration (admin) - Version 1</span></h3>
            <!-- <p>Changes:</p> -->
            <ul class="list list-bullet">
               <!-- <li></li> -->
            </ul>
            <details open>
               <summary>
                  <span class="summary">Version 1</span>
               </summary>
               <ul class="list list-bullet">
                  <li>1. Main requests PRC <a href="v9_0/admin/prc-pass/windows-login">(link)</a></li>
                  <li>2. Main requests PRC for dependant <a href="v9_0/admin/prc-pass/windows-login">(link)</a></li>
                  <li>3. Main requests PRC for main and dependant <a href="v9_0/admin/prc-pass/windows-login">(link)</a></li>
                  <li>4. Main requests PRC and fails residency check <a href="v9_0/admin/prc-fail/windows-login">(link)</a></li>
                  <li>5. Admin approves failed residency check PRC <a href="v9_0/admin/prc-fail2/windows-login">(link)</a></li>
               </ul>
            </details>
            <hr>
            <details>
               <summary>
                  <span class="summary">DWP integration (agent) - Version 2</span>
               </summary>
               <h3><span class="strong">DWP integration (agent) - Version 2</span></h3>
               <!-- <p>Changes:</p> -->
               <ul class="list list-bullet">
                  <li>Improve search and person creation</li>
                  <li>Added loading (latency) page to demonstrate DWP API call</li>
                  <li>Added content to kickout pages (cases to be referred to Reg)</li>
                  <!-- <li>Added 'relevant authority' contact details to kickout pages (actual content TBD)</li> -->
                  <li>Deceased scenario</li>
               </ul>
               <!-- <details>
                  <summary>
                     <span class="summary">Option 1</span>
                  </summary>
                  <ul class="list list-bullet">
                     <li>Scenario 1 - Search for person record and issue S1 to pensioner <a href="v9_0/ccs/dwp/start">(link)</a></li>
                     <li>Scenario 2 - From person record,  issue an S1 to someone without a confirmed State Pension <a href="v9_0/ccs/dwp-unconfirmed/case-record">(link)</a></li>
                     <li>Scenario 3 - NINO doesn't match when creating a person record <a href="v9_0/ccs/dwp-unconfirmed/start">(link)</a></li>
                     <li>Scenario 4 - NINO doesn't match when creating an entitlement <a href="v9_0/ccs/dwp-unconfirmed/start2"> (link)</a></li>
                  </ul>
                  </details> -->
               <details>
                  <summary>
                     <span class="summary">Version 2</span>
                  </summary>
                  <ul class="list list-bullet">
                     <li>1. No OHS record, DWP match, has a UK State Pension <a href="v9_0/ccs/dwp2/start">(link)</a></li>
                     <li>2. OHS record created, UK State Pension unconfirmed <a href="v9_0/ccs/dwp-unconfirmed2/case-record">(link)</a></li>
                     <li>3. OHS record created, UK State Pension start date not within 28 days <a href="v9_0/ccs/dwp-unconfirmed2/case-record-4">(link)</a></li>
                     <li>4. DWP no match, no OHS record <a href="v9_0/ccs/dwp-unconfirmed2/start">(link)</a></li>
                     <li>5. DWP match - deceased <a href="v9_0/ccs/dwp-dod/start">(link)</a></li>
                     <!-- <li>6. DWP match - deceased, OHS record <span class="bold">TO DO </span><a href="">(link)</a></li> -->
                     <!-- <li>Scenario 5 - NINO doesn't match when creating an entitlement <a href="v9_0/ccs/dwp-unconfirmed2/start2"> (link)</a></li> -->
                     <!-- NINO not mandatory for person creation, esp. dependants  -->
                  </ul>
               </details>
               <hr>
            </details>
            <!-- ----------------- -->
            <!-- PREVIOUS VERSIONS -->
            <!-- ----------------- -->
            <details>
               <summary>
                  <span class="summary">DWP integration (agent) - Version 1</span>
               </summary>
               <!-- <p>Changes:</p> -->
               <ul class="list list-bullet">
                  <li>Added new screens to show customer's name, DOB and NINO verification and UK State Pension start date</li>
                  <li>DWP confirmation that customer is in receipt of a UK State Pension and their pension start date when creating a Pensioner S1</li>
                  <li>DWP NINO matching</li>
               </ul>
               <ul class="list list-bullet">
                  <li class="bold">Option 1</li>
                  <ul class="list list-bullet">
                     <li>Scenario 1 - Search for person record and issue S1 to pensioner <a href="/public/images/prototypes/dwp-integration/Opt_1_Scen_1.pdf">[PDF]</a></li>
                     <li>Scenario 2 - From person record,  issue an S1 to someone without a confirmed State Pension <a href="/public/images/prototypes/dwp-integration/Opt_1_Scen_2.pdf">[PDF]</a></li>
                     <li>Scenario 3 - NINO doesn't match when creating a person record <a href="/public/images/prototypes/dwp-integration/Opt_1_Scen_3.pdf">[PDF]</a></li>
                     <li>Scenario 4 - NINO doesn't match when creating an entitlement <a href="/public/images/prototypes/dwp-integration/Opt_1_Scen_4.pdf">[PDF]</a></li>
                  </ul>
                  <!-- Separate DWP page -->
                  <li class="bold">Option 2</li>
                  <ul class="list list-bullet">
                     <li>Scenario 5 - Search for person record and issue S1 to pensioner <a href="/public/images/prototypes/dwp-integration/Opt_2_Scen_5.pdf">[PDF]</a></li>
                     <li>Scenario 6 - From person record,  issue an S1 to someone without a confirmed State Pension <a href="/public/images/prototypes/dwp-integration/Opt_2_Scen_6.pdf">[PDF]</a></li>
                     <li>Scenario 7 - NINO doesn't match when creating a person record <a href="/public/images/prototypes/dwp-integration/Opt_2_Scen_7.pdf">[PDF]</a></li>
                     <li>Scenario 8 - NINO doesn't match when creating an entitlement <a href="/public/images/prototypes/dwp-integration/Opt_2_Scen_8.pdf">[PDF]</a></li>
                  </ul>
               </ul>
               <hr>
            </details>
            <details>
               <summary>
                  <span class="summary">Get your S1 by email - Version 1</span>
               </summary>
               <p>Changes:</p>
               <ul class="list list-bullet">
                  <li>Added new screen to capture S1 delivery preference for main and dependant</li>
                  <li>Added extra content to 'Done' page</li>
               </ul>
               <p><a href="v9_0/admin/email-s1/start">Create a new entitlement for main and dependant</a></p>
               <p><a href="v9_0/admin/email-s1/receive-ent-2">'Where to send your S1' page</a></p>
               <hr>
            </details>
            <details>
               <summary>
                  <span class="summary">Address improvements - Version 2</span>
               </summary>
               <p>Changes:</p>
               <ul class="list list-bullet">
                  <li>Added dependant name personalisation to headings</li>
                  <li>Added back in original address input fields</li>
                  <li>Changed dependant correspondence address screen to have input fields instead of radio options.</li>
               </ul>
               <p><a href="v9_0/admin/ut/windows-login">Create a new person record</a></p>
               <p><a href="v9_0/admin/ut/case-record-2">Add a dependant to main's S1</a></p>
               <p><a href="v9_0/admin/ut/contact-address-4">Residential and correspondence address </a></p>
               <hr>
            </details>
            <details>
               <summary>
                  <span class="summary">Address improvements - Version 1</span>
               </summary>
               <p>Changes:</p>
               <ul class="list list-bullet">
                  <li>Updates to address capture functionality for main and dependant so that a main's addresses can be copied over to dependants.</li>
                  <li>Made address input fields more generic so that European addresses are captured more accurately.</li>
                  <li>Put email address and telephone number capture on separate screens for dependant (testing only - out of scope for task).</li>
               </ul>
               <p><a href="/public/images/prototypes/addresses/v1-new-main.pdf">Create a new person record [PDF]</a></p>
               <p><a href="/public/images/prototypes/addresses/v1-new-dep.pdf">Add a dependant to main's S1 [PDF]</a></p>
               <p><a href="/public/images/prototypes/addresses/v1-all-in-one.pdf">Residential and correspondence address [PDF]</a></p>
            </details>
         </div>
         <!-- ----------------- -->
         <!-- ----- ADMIN ----- -->
         <!-- ----------------- -->
         <h2 class="heading-medium">Admin</h2>
         <table>
            <thead>
               <tr>
                  <th>Journey</th>
                  <th>Link</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Address improvements</td>
                  <td><a href="v9_0/admin/no-search-results/contact-address-5">Address</a></td>
                  <td>Add addresses to new main record (WIP)</td>
               </tr>
               <tr>
                  <td>Address improvements</td>
                  <td><a href="v9_0/admin/no-search-results/res-address">Address</a></td>
                  <td>Add/copy addresses and contact details to dependant's record<br>
                     One question per page flow (WIP)
                  </td>
               </tr>
               <tr>
                  <td>Address improvements</td>
                  <td><a href="v9_0/admin/no-search-results/contact-address-4">Address</a></td>
                  <td>Add/copy addresses and contact details to dependant's record<br>
                     Residential and correspondence on one page (WIP)
                  </td>
               </tr>
               <tr>
                  <td>Live bugs</td>
                  <td><a href="v9_0/admin/no-search-results/case-record-24">Case record</a></td>
                  <td>Double-clicking Reprint sends 2 letters (WIP)</td>
               </tr>
               <tr>
                  <td valign="top">S1 cancellation</td>
                  <td valign="top">
                     <a href="v9_0/admin/cancellation/case-record-1">Case record</a><br>
                     <!-- <a href="v9_0/admin/cancellation-dep/case-record-12">Case record</a><br> -->
                     <a href="v9_0/admin/cancellation/case-record-2">Case record</a><br>
                     <!-- <a href="v9_0/admin/cancellation-dep/case-record-8">Case record</a><br> -->
                  </td>
                  <td valign="top">
                     Main - Registered or expired after registration<br>
                     <!-- Dependant - Registered or expired after registration<br> -->
                     Main - Issued or expired after being issued<br>
                     <!-- Dependant - Issued or expired after being issued<br> -->
                  </td>
               </tr>

               <tr>
                  <td>S1</td>
                  <td><a href="v9_0/admin/no-search-results/case-record-17">Case record</a></td>
                  <td>S1 - Update pension contributions</td>
               </tr>
               <tr>
                  <td valign="top">V9_0</td>
                  <td valign="top">
                     <a href="v9_0/admin/no-search-results/case-record">Main's case record</a>
                     <br><br>
                     <a href="v9_0/admin/no-search-results/windows-login">Start</a>
                  </td>
                  <td valign="top">
                     DA1 (Occupational disease/injury) - main<br>
                     E109 (Dependant of UK worker) - main / dependant<br>
                     International Group issued S1 - main / dependant<br>
                     Customer issued S1 - main / dependant
                  </td>
               </tr>
            </tbody>
         </table>
         <!-- ----------------- -->
         <!-- ------ CCS ------ -->
         <!-- ----------------- -->
         <h2 class="heading-medium">CCS</h2>
         <table>
            <thead>
               <tr>
                  <th>Journey</th>
                  <th>Link</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td valign="top">S1 cancellation<br>- Change of<br>address</td>
                  <td>
                     <!-- Return to the UK (Registered) -->
                     <a href="v9_0/ccs/cancellations/case-record-16">Case record</a><br>

                     <!-- Return to UK (date over 6 months) (Registered) -->
                     <a href="v9_0/ccs/cancellations/case-record-72">Case record</a><br>

                     <!-- Return to the UK (Issued) [with reprint journey] -->
                     <a href="v9_0/ccs/cancellations/case-record-18">Case record</a><br>

                     <!-- Return to UK (date over 6 months) (Issued) -->
                     <a href="v9_0/ccs/cancellations/case-record-38">Case record<br>

                     <!-- Move to a country outside EU/EEA (Registered) -->
                     <a href="v9_0/ccs/cancellations/case-record-20">Case record</a><br>

                     <!-- Move to a country outside EU/EEA (date over 6 months) (Registered) -->
                     <a href="v9_0/ccs/cancellations/case-record-76">Case record</a><br>

                     <!-- Move to a country outside EU/EEA (Issued) -->
                     <a href="v9_0/ccs/cancellations/case-record-22">Case record</a><br>

                     <!-- Move to a country outside EU/EEA (over 6 months) (Issued) -->
                     <a href="v9_0/ccs/cancellations/case-record-74">Case record</a><br>

                     <!-- Move to another EU/EEA member state (Registered) -->
                     <a href="v9_0/ccs/cancellations/case-record-42">Case record</a><br>

                     <!-- Move to another EU/EEA member state (over 6 months) (Registered) -->
                     <a href="v9_0/ccs/cancellations/case-record-78">Case record</a><br>

                     <!-- Move to another EU/EEA member state (Issued) -->
                     <a href="v9_0/ccs/cancellations/case-record-44">Case record</a><br>

                     <!-- Move to another EU/EEA member state (over 6 momnths - Issued) -->
                     <a href="v9_0/ccs/cancellations/case-record-58">Case record</a><br>

                     <!-- Move within same EU/EEA country (same for Registered and Issued) -->
                     <a href="v9_0/ccs/cancellations/case-record-36">Case record</a><br>
                  </td>
                  <td>
                     Return to UK -- Registered<br>
                     Return to UK (over 6 months) -- Registered<br>
                     Return to UK -- Issued [with reprint journey]<br>
                     Return to UK (over 6 months) -- Issued<br>
                     Moved outside EU/EEA -- Registered<br>
                     Moved outside EU/EEA (over 6 months) -- Registered<br>
                     Moved outside EU/EEA -- Issued<br>
                     Moved outside EU/EEA (over 6 months) -- Issued<br>
                     Move to another EU/EEA member state -- Registered<br>
                     Move to another EU/EEA member state (over 6 months) -- Registered<br>
                     Move to another EU/EEA member state -- Issued<br>
                     Move to another EU/EEA member state (over 6 months) -- Issued<br>
                     Move within same EU/EEA country -- same for Registered and Issued<br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">S1 cancellation<br>- Change of<br>circumstances</td>
                  <td>
                     <!-- Allow NINO change -- any status -->
                     <a href="v9_0/ccs/cancellations/case-record-65">Case record</a><br>
                     <!-- Allow name change -- Registered -->
                     <a href="v9_0/ccs/cancellations/case-record-"></a>TO DO<br>
                     <!-- Allow name change -- Issued -->
                     <a href="v9_0/ccs/cancellations/case-record-67">Case record</a><br>
                     <!-- Allow DOB change -- Issued -->
                     <a href="v9_0/ccs/cancellations/case-record-"></a>TO DO<br>
                     <!-- Allow DOB change -- Registered -->
                     <a href="v9_0/ccs/cancellations/case-record-"></a>TO DO<br>
                  </td>
                  <td>
                     Allow NINO change -- any status<br>
                     Allow name change -- Registered<br>
                     Allow name change -- Issued<br>
                     Allow DOB change -- Issued<br>
                     Allow DOB change -- Registered<br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">S1 cancellation<br>- Other</td>
                  <td>
                     <!-- Entitlement created in error (Issued) -->
                     <a href="v9_0/ccs/cancellations/case-record-26">Case record</a><br>
                     <!-- Issue new forms (currently hold old forms) -->
                     <a href="v9_0/ccs/cancellations/case-record-26">Case record</a><br>
                     <!-- Customer deceased (Issued) -->
                     <a href="v9_0/ccs/cancellations/case-record-28">Case record</a><br>
                     <!-- Dependant entitled in own right (Registered) -->
                     <a href="v9_0/ccs/cancellations/case-record-55">Case record</a><br>
                     <!-- Dependant entitlemed in own right (Issued) -->
                     <a href="v9_0/ccs/cancellations/case-record-52">Case record</a><br>
                  </td>
                  <td>
                     Entitlement created in error -- Issued<br>
                     Issue new forms (currently hold old forms)<br>
                     Customer deceased, dependant caller -- Issued<br>
                     Dependant entitlemed in own right -- Registered<br>
                     Dependant entitlemed in own right -- Issued<br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">S1 cancellation<br>- Pages</td>
                  <td>
                     <!-- more than 4 weeks message -->
                     <a href="v9_0/ccs/cancellations/new-address-date-eu-4weeks">4 weeks</a><br>
                  </td>
                  <td>
                     Message for date entered over 4 weeks in future<br>
                  </td>
               </tr>
               <tr>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
               <tr>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
               <tr>
                  <td>S1</td>
                  <td><a href="v9_0/ccs/no-search-results/case-record-2">Case record</a></td>
                  <td>S1 - View pension contributions</td>
               </tr>
               <tr>
                  <td valign="top">V9_0</td>
                  <td>
                     <a href="v9_0/ccs/no-search-results/case-record">Main's case record</a>
                     <br><br>
                     <a href="v9_0/ccs/no-search-results/windows-login">Start</a>
                  </td>
                  <td>-</td>
               </tr>
            </tbody>
         </table>
         <br>
         <details>
            <summary>
               <span class="summary">Previous versions</span>
            </summary>
            <table>
               <thead>
                  <tr>
                     <th>Journey</th>
                     <th>Link</th>
                     <th>Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td valign="top">V8_0</td>
                     <td valign="top"><a href="v8_0/ccs/no-search-results/windows-login">Start</a></td>
                     <td>No search results (with search results - <a href="v8_0/ccs/no-search-results/search-results">link</a>)<br>
                        Create person record - main<br>
                        Create new entitlement - pensioner<br>
                        Pensioner - uk state pension<br>
                        Pensioner - third country pension (evidence required - <a href="v8_0/ccs/no-search-results/evidence-required">link</a>)<br>
                        Pensioner - reprint<br>
                        Pensioner - rejected reasons (<a href="v8_0/ccs/no-search-results/case-record-15">link</a>)<br>
                        Pensioner - add dependant<br>
                        Pensioner - case history
                     </td>
                  </tr>
               </tbody>
            </table>
         </details>
         <!-- Advanced search -->
         <h2 class="heading-medium">Advanced search</h2>
         <table>
            <thead>
               <tr>
                  <th>Journey</th>
                  <th>Link</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Using OHS ref</td>
                  <td><a href="v9_0/admin/search-ref-noresult/search-ref">Search</a></td>
                  <td>No result on search or advanced</td>
               </tr>
               <tr>
                  <td>Using OHS ref</td>
                  <td><a href="v9_0/admin/search-ref-result/search-ref">Search</a></td>
                  <td>No result on search but found on advanced search</td>
               </tr>
               <tr>
                  <td>Using personal details</td>
                  <td><a href="v9_0/admin/search-details-noresult/search-details">Search</a></td>
                  <td>No results on search or advanced</td>
               </tr>
               <tr>
                  <td>Using personal details</td>
                  <td><a href="v9_0/admin/search-details/search-details">Search</a></td>
                  <td>No results on search but found on advanced search</td>
               </tr>
            </tbody>
         </table>
         <!-- Date warning banner -->
         <h2 class="heading-medium">Date warning banner</h2>
         <table>
            <thead>
               <tr>
                  <th>Journey</th>
                  <th>Link</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Benefit date</td>
                  <td><a href="v9_0/admin/no-search-results/benefit-date-banner">Benefit date</a></td>
                  <td>-</td>
               </tr>
               <tr>
                  <td>Moving date</td>
                  <td><a href="v9_0/admin/no-search-results/moving-date-benefit">Moving date</a></td>
                  <td>-</td>
               </tr>
               <tr>
                  <td>UK State Pension</td>
                  <td><a href="v9_0/admin/no-search-results/pension-date-banner">Pension date</a></td>
                  <td>-</td>
               </tr>
            </tbody>
         </table>
         <!-- EU exception -->
         <h2 class="heading-medium">EU exception</h2>
         <table>
            <thead>
               <tr>
                  <th>Journey</th>
                  <th>Link</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>V5</td>
                  <td><a href="v12_0/admin/eu-exception-2/windows-login">Start</a></td>
                  <td>EU exception main (person found) and dependant (person not found) with claims and evidence</td>
               </tr>
            </tbody>
         </table>
         <br>
         <details>
            <summary>
               <span class="summary">Previous versions</span>
            </summary>
            <table>
               <thead>
                  <tr>
                     <th>Journey</th>
                     <th>Link</th>
                     <th>Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>V4</td>
                     <td><a href="v11_0/admin/eu-exception-2/windows-login">Start</a></td>
                     <td>EU exception main (person found) and dependant (person not found) with claim</td>
                  </tr>
                  <tr>
                     <td>V3</td>
                     <td><a href="v10_0/admin/eu-exception-2/windows-login">Start</a></td>
                     <td>EU exception main (person found) and dependant (person not found)</td>
                  </tr>
                  <tr>
                     <td>V2</td>
                     <td><a href="v9_0/admin/eu-exception-2/windows-login">Start</a></td>
                     <td>EU exception main (person found) and dependant (person not found)</td>
                  </tr>
                  <tr>
                     <td>V1</td>
                     <td><a href="v9_0/admin/eu-exception/windows-login">Start</a></td>
                     <td>EU exception - main (person record found)</td>
                  </tr>
               </tbody>
            </table>
         </details>
         <!-- Notes -->
         <h2 class="heading-medium">Notes</h2>
         <table>
            <thead>
               <tr>
                  <th>Journey</th>
                  <th>Link</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Add note to entitlement</td>
                  <td><a href="v9_0/admin/notes/case-record-ent-notes">Case record</a></td>
                  <td>-</td>
               </tr>
               <tr>
                  <td>Case record with notes</td>
                  <td><a href="v9_0/admin/notes/case-record-with-notes">Case record</a></td>
                  <td>-</td>
               </tr>
            </tbody>
         </table>
         <!-- Previous versions -->
         <h2 class="heading-medium">Previous versions</h2>
         <br>
         <details>
            <summary>
               <span class="summary">OHS</span>
            </summary>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v8_0/admin/no-search-results/windows-login">OHS</a></td>
                     <td>Pensioner and Posted Worker</td>
                     <td>August 2019</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 7.0.2 - Posted Workers</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v7_0/admin/search-results/posted-worker/search">OHS</a></td>
                     <td>Person record (no search results)</td>
                     <td>03/07/2019</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 7.0.1 - Customer Facing</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v7_0/ehic/index">OHS</a></td>
                     <td>Apply for cover online</td>
                     <td>12/06/2019</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 6.0.1 - Posted Workers</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v6_0/admin/search-results/case-record">OHS</a></td>
                     <td>Person record (main <s>and dependant</s>)</td>
                     <td>14/06/2019</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 5.2.0 - Case History</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v5_0/admin/search-results/case-record-9">OHS</a></td>
                     <td>Person record (main <s>and dependant</s>)</td>
                     <td>31/05/2019</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 5.1.0 - Reprint Process for Admin and CCS</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v5_0/admin/search-results/case-record">OHS</a></td>
                     <td>Person record (main <s>and dependant</s>) - Admin</td>
                     <td>18/06/2019</td>
                  </tr>
                  <tr>
                     <td><a href="v5_0/ccs/search-results/case-record">OHS</a></td>
                     <td>Person record (main <s>and dependant</s>) - CCS</td>
                     <td>18/06/2019</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 5.0.2 - Cancellation Process for Admin</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v5_0/admin/search-results/case-record">OHS</a></td>
                     <td>Person record (main and dependant)</td>
                     <td>05/06/2019</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 5.0.1 - Cancellation Process for Admin</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v5_0/admin/search-results/case-record-10">OHS</a></td>
                     <td>Person record (main <s>and dependant</s>)</td>
                     <td>13/06/2019</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 4.0.2 - Admin</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v4_0/admin/no-search-results/windows-login">OHS</a></td>
                     <td>Person record (no search results)</td>
                     <td>05/12/2018</td>
                  </tr>
                  <tr>
                     <td><a href="v4_0/admin/search-results/windows-login">OHS</a></td>
                     <td>Person record (with search results)</td>
                     <td>05/12/2018</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 4.0.1 - CCS</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v4_0/ccs/no-search-results/windows-login">OHS</a></td>
                     <td>Person record (no search results)</td>
                     <td>05/12/2018</td>
                  </tr>
                  <tr>
                     <td><a href="v4_0/ccs/search-results/windows-login">OHS</a></td>
                     <td>Person record (with search results)</td>
                     <td>05/12/2018</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 2.2</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                     <th>Quick jump</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v2_2/s1/start">S1</a></td>
                     <td>No search results with dependant</td>
                     <td>26/10/2018</td>
                     <td>
                        <a href="v2_2/s1/dep/search">Dep <17</a>
                        </br>
                        <a href="v2_2/s1/dep1/search">Dep >=17</a>
                     </td>
                  </tr>
                  <tr>
                     <td><a href="v2_2/s1-results/start">S1</a></td>
                     <td>With search results</td>
                     <td>26/10/2018</td>
                     <td>
                        <a href="v2_2/s1-results/dep/search">Dep <17</a>
                        </br>
                        <a href="v2_2/s1-results/dep1/search">Dep >=17</a>
                     </td>
                  </tr>
                  <tr>
                     <td><a href="v2_2/s1-results-incomplete/start">S1</a></td>
                     <td>With search results (incomplete record)</td>
                     <td>26/10/2018</td>
                     <td>
                        <a href="v2_2/s1-results-incomplete/dep/search">Dep <17</a>
                        </br>
                        <a href="v2_2/s1-results-incomplete/dep1/search">Dep >=17</a>
                     </td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 2.1</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                     <th>Quick jump</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v2_1/s1/start">S1</a></td>
                     <td>No search results with dependant</td>
                     <td>22/10/2018</td>
                     <td>
                        <a href="v2_1/s1/dep/search">Dep <16</a>
                        </br>
                        <a href="v2_1/s1/dep1/search">Dep >16</a>
                     </td>
                  </tr>
                  <tr>
                     <td><a href="v2_1/s1-results/start">S1</a></td>
                     <td>With search results</td>
                     <td>22/10/2018</td>
                     <td>
                        <a href="v2_1/s1-results/dep/search">Dep <16</a>
                        </br>
                        <a href="v2_1/s1-results/dep1/search">Dep >16</a>
                     </td>
                  </tr>
                  <tr>
                     <td><a href="v2_1/s1-results-incomplete/start">S1</a></td>
                     <td>With search results (incomplete record)</td>
                     <td>22/10/2018</td>
                     <td>
                        <a href="v2_1/s1-results-incomplete/dep/search">Dep <16</a>
                        </br>
                        <a href="v2_1/s1-results-incomplete/dep1/search">Dep >16</a>
                     </td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 2.0</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                     <th>Quick jump</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v2_0/s1/start">S1</a></td>
                     <td>No search results with dependant</td>
                     <td>19/10/2018</td>
                     <td><a href="v2_0/s1/dep/dependant-nino">Dependant</a></td>
                  </tr>
                  <tr>
                     <td><a href="v2_0/s1-results/start">S1</a></td>
                     <td>With search results</td>
                     <td>19/10/2018</td>
                     <td><a href="v2_0/s1-results/dep/dependant-nino">Dependant</a></td>
                  </tr>
                  <tr>
                     <td><a href="v2_0/s1-results-incomplete/start">S1</a></td>
                     <td>With search results (incomplete record)</td>
                     <td>19/10/2018</td>
                     <td><a href="v2_0/s1-results-incomplete/dep/dependant-nino">Dependant</a></td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Version 1.0</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="v1_0/s1/login">S1</a></td>
                     <td>No search results with dependant</td>
                     <td>03/10/2018</td>
                  </tr>
                  <tr>
                     <td><a href="v1_0/s1-results/login">S1</a></td>
                     <td>With search results (incl dependant search)</td>
                     <td>03/10/2018</td>
                  </tr>
               </tbody>
            </table>
            <h2 class="heading-medium">Errors</h2>
            <table>
               <thead>
                  <tr>
                     <th>Link</th>
                     <th>Description</th>
                     <th>Last updated</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><a href="errors/403">403</a></td>
                     <td>Permission to access the page</td>
                     <td>03/10/2018</td>
                  </tr>
                  <tr>
                     <td><a href="errors/404">404</a></td>
                     <td>Something’s gone wrong</td>
                     <td>03/10/2018</td>
                  </tr>
                  <tr>
                     <td><a href="errors/500">500</a></td>
                     <td>Something’s gone wrong</td>
                     <td>03/10/2018</td>
                  </tr>
                  <tr>
                     <td><a href="errors/503">503</a></td>
                     <td>Service unavailable</td>
                     <td>03/10/2018</td>
                  </tr>
               </tbody>
            </table>
         </details>
      </div>
   </div>
</main>
{% endblock %}