{% extends "layout_bsa.html" %}
{% block page_title %}
Overseas Healthcare Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-two-thirds">
         <h1 class="heading-xlarge">
            <span class="heading-secondary">NHSBSA Design</span>
            Overseas Healthcare Prototype
         </h1>
         <details open>
            <summary>
               <span class="summary">Advanced search</span>
            </summary>
            <div class="panel panel-border-narrow">
               <p>Search using OHS ref</p>
               <ul class="list list-bullet">
                  <li>No result on search or advanced <a href="/v9_0/admin/search-ref-noresult/search-ref">link</a></li>
                  <li>No result on search but found on advanced search <a href="/v9_0/admin/search-ref-result/search-ref">link</a></li>
               </ul>
               <p>Search using personal details</p>
               <ul class="list list-bullet">
                  <li>No results on search or advanced <a href="/v9_0/admin/search-details-noresult/search-details">link</a></li>
                  <li>No results on search but found on advanced search <a href="/v9_0/admin/search-details/search-details">link</a></li>
               </ul>
            </div>
         </details>
         <details open>
            <summary>
               <span class="summary">Date warning banner</span>
            </summary>
            <div class="panel panel-border-narrow">
               <ul class="list list-bullet">
                  <li>moving date, 2 pages <a href="/v9_0/admin/no-search-results/moving-date-benefit">link</a></li>
                  <li>benefit date, 2 pages <a href="/v9_0/admin/no-search-results/benefit-date-banner">link</a></li>
                  <li>UK State Pension, 2 pages <a href="/v9_0/admin/no-search-results/pension-date-banner">link</a></li>
               </ul>
            </div>
         </details>
         <div class="form-group">
            <details open>
               <summary>
                  <span class="summary">Notes</span>
               </summary>
               <div class="panel panel-border-narrow">
                  <ul class="list list-bullet">
                  <li>case record with notes - <a href="/v9_0/admin/notes/case-record-with-notes">link</a>
                  <!-- <p>case record with notes - <a href="/v9_0/admin/notes/case-record-with-notes">link</a></p> -->
                  <li>add note to entitlement - <a href="/v9_0/admin/notes/case-record-ent-notes">link</a></li>
                  <!-- <p>case record with notes - <a href="/v9_0/admin/notes/case-record-with-notes">link</a></p> -->
               </div>
            </details>
         </div>

         <div class="form-group">
            <details open>
               <summary>
                  <span class="summary">EU exception</span>
               </summary>
               <div class="panel panel-border-narrow">
                  <!-- <p style="font-weight:bold;">Version 2</p>
                  <ul class="list list-bullet">
                     <li>EU exception - <a href="v9_0/admin/eu-exception-2/windows-login">link</a>
                        <br>(Person record found)
                     </li>
                     <li>Dependant journey - <a href="v9_0/admin/eu-exception/case-record-eu">link</a></li>
                  </ul> -->
                  <p style="font-weight:bold;">Version 1</p>
                  <ul class="list list-bullet">
                     <li>EU exception - <a href="v9_0/admin/eu-exception/windows-login">link</a>
                        <br>(Person record found)
                     </li>
                     <!-- <li>Dependant journey - <a href="v9_0/admin/eu-exception/case-record-eu">link</a></li> -->
                  </ul>
               </div>
            </details>
         </div>


         <div class="form-group">
            <details open>
               <summary>
                  <span class="summary">Admin</span>
               </summary>
               <div class="panel panel-border-narrow">
                  <p>Journeys:</p>
                  <ul class="list list-bullet">
                     <li>E109 main - <a href="v9_0/admin/no-search-results/case-record-no-address">link</a></li>
                     <li>E109 dependant - <a href="v9_0/admin/no-search-results/case-record-e109">link</a></li>
                     <li>IG issued S1 main - <a href="v9_0/admin/no-search-results/case-record">link</a></li>
                     <li>IG issued S1 dependant - <a href="v9_0/admin/no-search-results/case-record-ig">link</a></li>
                  </ul>
                  <p>Prototype Link (v.9_0):
                     <a href="v9_0/admin/no-search-results/windows-login">Overseas Healthcare Services</a>
                  </p>
               </div>
               <div class="panel panel-border-narrow">
                  <p>Journeys:</p>
                  <ul class="list list-bullet">
                     <li>no search results (with search results - <a href="v8_0/admin/no-search-results/search-results">link</a>)</li>
                     <li>create person record - main</li>
                     <li>create new entitlement - pensioner or posted worker</li>
                     <li>pensioner - uk state pension or exportable benefit</li>
                     <li>pensioner - third country pension (evidence required - <a href="v8_0/admin/no-search-results/evidence-required">link</a>)</li>
                     <li>pensioner - reprint</li>
                     <li>pensioner - rejected reasons <a href="v8_0/admin/no-search-results/case-record-15">(link)</a></li>
                     <li>posted worker - register entitlement</li>
                     <li>posted worker - rejected reasons <a href="v8_0/admin/no-search-results/case-record-16">(link)</a></li>
                     <li>pensioner and posted worker - add dependant</li>
                     <li>pensioner and posted worker - cancel entitlement</li>
                     <li>pensioner and posted worker - case history</li>
                  </ul>
                  <p>Prototype Link (v8_0):
                     <a href="v8_0/admin/no-search-results/windows-login">Overseas Healthcare Services</a>
                  </p>
               </div>
            </details>
         </div>
         <div class="form-group">
            <details open>
               <summary><span class="summary">CCS</span></summary>
               <div class="panel panel-border-narrow">
                  <p>Journeys:</p>
                  <ul class="list list-bullet">
                     <li>no search results (with search results - <a href="v8_0/ccs/no-search-results/search-results">link</a>)</li>
                     <li>create person record - main</li>
                     <li>create new entitlement - pensioner</li>
                     <li>pensioner - uk state pension</li>
                     <li>pensioner - third country pension (evidence required - <a href="v8_0/ccs/no-search-results/evidence-required">link</a>)</li>
                     <li>pensioner - reprint</li>
                     <li>pensioner - rejected reasons <a href="v8_0/ccs/no-search-results/case-record-15">(link)</a></li>
                     <li>pensioner - add dependant</li>
                     <li>pensioner - case history</li>
                  </ul>
                  <p>Prototype Link:
                     <a href="v8_0/ccs/no-search-results/windows-login">Overseas Healthcare Services</a>
                  </p>
               </div>
            </details>
         </div>
         <!-- <h2 class="heading-medium">Version 8.0.1 - CCS (WIP)</h2>
            <table>
              <thead>
                <tr>
                  <th>Link</th>
                  <th>Description</th>
                  <th>Last updated</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="v8_0/ccs/no-search-results/windows-login">OHS</a></td>
                  <td>Person record (no search results)</td>
                  <td>03/07/2019</td>
                </tr>
                <tr>
                  <td><a href="v8_0/ccs/search-results/windows-login">OHS</a></td>
                  <td>Person record (with search results)</td>
                  <td>03/07/2019</td>
                </tr>
              </tbody>
            </table> -->
         <div class="form-group">
            <details>
               <summary>
                  <span class="summary">Previous Versions</span>
               </summary>
               <div class="panel panel-border-narrow">
                  <h2 class="heading-medium">Version 7.0.2 - Posted Workers</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v7_0/admin/search-results/posted-worker/search">OHS</a></td>
                           <td>Person record (no search results)</td>
                           <td>03/07/2019</td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 7.0.1 - Customer Facing</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v7_0/ehic/index">OHS</a></td>
                           <td>Apply for cover online</td>
                           <td>12/06/2019</td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 6.0.1 - Posted Workers</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v6_0/admin/search-results/case-record">OHS</a></td>
                           <td>Person record (main <s>and dependant</s>)</td>
                           <td>14/06/2019</td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 5.2.0 - Case History</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v5_0/admin/search-results/case-record-9">OHS</a></td>
                           <td>Person record (main <s>and dependant</s>)</td>
                           <td>31/05/2019</td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 5.1.0 - Reprint Process for Admin and CCS</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v5_0/admin/search-results/case-record">OHS</a></td>
                           <td>Person record (main <s>and dependant</s>) - Admin</td>
                           <td>18/06/2019</td>
                        </tr>
                        <tr>
                           <td><a href="v5_0/ccs/search-results/case-record">OHS</a></td>
                           <td>Person record (main <s>and dependant</s>) - CCS</td>
                           <td>18/06/2019</td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 5.0.2 - Cancellation Process for Admin</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v5_0/admin/search-results/case-record">OHS</a></td>
                           <td>Person record (main and dependant)</td>
                           <td>05/06/2019</td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 5.0.1 - Cancellation Process for Admin</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v5_0/admin/search-results/case-record-10">OHS</a></td>
                           <td>Person record (main <s>and dependant</s>)</td>
                           <td>13/06/2019</td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 4.0.2 - Admin</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v4_0/admin/no-search-results/windows-login">OHS</a></td>
                           <td>Person record (no search results)</td>
                           <td>05/12/2018</td>
                        </tr>
                        <tr>
                           <td><a href="v4_0/admin/search-results/windows-login">OHS</a></td>
                           <td>Person record (with search results)</td>
                           <td>05/12/2018</td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 4.0.1 - CCS</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v4_0/ccs/no-search-results/windows-login">OHS</a></td>
                           <td>Person record (no search results)</td>
                           <td>05/12/2018</td>
                        </tr>
                        <tr>
                           <td><a href="v4_0/ccs/search-results/windows-login">OHS</a></td>
                           <td>Person record (with search results)</td>
                           <td>05/12/2018</td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 2.2</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                           <th>Quick jump</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v2_2/s1/start">S1</a></td>
                           <td>No search results with dependant</td>
                           <td>26/10/2018</td>
                           <td>
                              <a href="v2_2/s1/dep/search">Dep <17</a>
                              </br>
                              <a href="v2_2/s1/dep1/search">Dep >=17</a>
                           </td>
                        </tr>
                        <tr>
                           <td><a href="v2_2/s1-results/start">S1</a></td>
                           <td>With search results</td>
                           <td>26/10/2018</td>
                           <td>
                              <a href="v2_2/s1-results/dep/search">Dep <17</a>
                              </br>
                              <a href="v2_2/s1-results/dep1/search">Dep >=17</a>
                           </td>
                        </tr>
                        <tr>
                           <td><a href="v2_2/s1-results-incomplete/start">S1</a></td>
                           <td>With search results (incomplete record)</td>
                           <td>26/10/2018</td>
                           <td>
                              <a href="v2_2/s1-results-incomplete/dep/search">Dep <17</a>
                              </br>
                              <a href="v2_2/s1-results-incomplete/dep1/search">Dep >=17</a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 2.1</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                           <th>Quick jump</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v2_1/s1/start">S1</a></td>
                           <td>No search results with dependant</td>
                           <td>22/10/2018</td>
                           <td>
                              <a href="v2_1/s1/dep/search">Dep <16</a>
                              </br>
                              <a href="v2_1/s1/dep1/search">Dep >16</a>
                           </td>
                        </tr>
                        <tr>
                           <td><a href="v2_1/s1-results/start">S1</a></td>
                           <td>With search results</td>
                           <td>22/10/2018</td>
                           <td>
                              <a href="v2_1/s1-results/dep/search">Dep <16</a>
                              </br>
                              <a href="v2_1/s1-results/dep1/search">Dep >16</a>
                           </td>
                        </tr>
                        <tr>
                           <td><a href="v2_1/s1-results-incomplete/start">S1</a></td>
                           <td>With search results (incomplete record)</td>
                           <td>22/10/2018</td>
                           <td>
                              <a href="v2_1/s1-results-incomplete/dep/search">Dep <16</a>
                              </br>
                              <a href="v2_1/s1-results-incomplete/dep1/search">Dep >16</a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 2.0</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                           <th>Quick jump</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v2_0/s1/start">S1</a></td>
                           <td>No search results with dependant</td>
                           <td>19/10/2018</td>
                           <td><a href="v2_0/s1/dep/dependant-nino">Dependant</a></td>
                        </tr>
                        <tr>
                           <td><a href="v2_0/s1-results/start">S1</a></td>
                           <td>With search results</td>
                           <td>19/10/2018</td>
                           <td><a href="v2_0/s1-results/dep/dependant-nino">Dependant</a></td>
                        </tr>
                        <tr>
                           <td><a href="v2_0/s1-results-incomplete/start">S1</a></td>
                           <td>With search results (incomplete record)</td>
                           <td>19/10/2018</td>
                           <td><a href="v2_0/s1-results-incomplete/dep/dependant-nino">Dependant</a></td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Version 1.0</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="v1_0/s1/login">S1</a></td>
                           <td>No search results with dependant</td>
                           <td>03/10/2018</td>
                        </tr>
                        <tr>
                           <td><a href="v1_0/s1-results/login">S1</a></td>
                           <td>With search results (incl dependant search)</td>
                           <td>03/10/2018</td>
                        </tr>
                     </tbody>
                  </table>
                  <h2 class="heading-medium">Errors</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>Link</th>
                           <th>Description</th>
                           <th>Last updated</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="errors/403">403</a></td>
                           <td>Permission to access the page</td>
                           <td>03/10/2018</td>
                        </tr>
                        <tr>
                           <td><a href="errors/404">404</a></td>
                           <td>Something’s gone wrong</td>
                           <td>03/10/2018</td>
                        </tr>
                        <tr>
                           <td><a href="errors/500">500</a></td>
                           <td>Something’s gone wrong</td>
                           <td>03/10/2018</td>
                        </tr>
                        <tr>
                           <td><a href="errors/503">503</a></td>
                           <td>Service unavailable</td>
                           <td>03/10/2018</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </details>
         </div>
      </div>
   </div>
</main>
{% endblock %}