{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
      <div class="column-two-thirds">
            <h1 class="heading-xlarge">
              <span class="heading-secondary">NHSBSA Design</span>
              Overseas Healthcare Prototype
            </h1>
            <h2 class="heading-medium">Version 2.0</h2>
            <table>
                <thead>
                  <tr>
                    <th>Link</th>
                    <th>Description</th>
                    <th>Last updated</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><a href="v2_0/s1/start">S1</a></td>
                      <td>No search results with dependant</td>
                      <td>05/10/2018</td>
                    </tr>
                    <tr>
                      <td><a href="v2_0/s1-results/start">S1</a></td>
                      <td>With search results</td>
                      <td>05/10/2018</td>
                    </tr>
                    <tr>
                      <td><a href="v2_0/s1-results-incomplete/start">S1</a></td>
                      <td>With search results (incomplete record)</td>
                      <td>05/10/2018</td>
                    </tr>
                </tbody>
            </table>
            <h2 class="heading-medium">Version 1.0</h2>
            <table>
                <thead>
                  <tr>
                    <th>Link</th>
                    <th>Description</th>
                    <th>Last updated</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><a href="v1_0/s1/login">S1</a></td>
                      <td>No search results with dependant</td>
                      <td>03/10/2018</td>
                    </tr>
                    <tr>
                      <td><a href="v1_0/s1-results/login">S1</a></td>
                      <td>With search results (incl dependant search)</td>
                      <td>03/10/2018</td>
                    </tr>
                </tbody>
            </table>
            <h2 class="heading-medium">Errors</h2>
            <table>
                <thead>
                  <tr>
                    <th>Link</th>
                    <th>Description</th>
                    <th>Last updated</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><a href="errors/403">403 </a></td>
                      <td>Permission to access the page</td>
                      <td>03/10/2018</td>
                    </tr>
                    <tr>
                      <td><a href="errors/404">404 </a></td>
                      <td>Something’s gone wrong</td>
                      <td>03/10/2018</td>
                    </tr>
                    <tr>
                      <td><a href="errors/404">500 </a></td>
                      <td>Something’s gone wrong</td>
                      <td>03/10/2018</td>
                    </tr>
                    <tr>
                      <td><a href="errors/404">503 </a></td>
                      <td>Service unavailable</td>
                      <td>03/10/2018</td>
                    </tr>
                </tbody>
            </table>
      </div>
</div>

</main>

{% endblock %}
