{% extends "layout_bsa.html" %}
{% block page_title %}
   Work Case Report - Overseas Healthcare Prototype
{% endblock %}
{% block content %}
<style>
   hr {
      display: block;
      background: #bfc1c3;
      border: 0;
      height: 1px;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0;
   }
   span.status-tag-low {
      background-color: #85994b;
      color: #ffffff;
      vertical-align: baseline;
      padding: 2px 18px 1px;
      font-weight: 700;
      font-size: 14px;
      display: inline-block;
      position: relative;
      top: -0.05em;
   }
   span.status-tag-medium {
      background-color: #F47738;
      color: #ffffff;
      vertical-align: baseline;
      padding: 2px 9px 1px;
      font-weight: 700;
      font-size: 14px;
      display: inline-block;
      position: relative;
      top: -0.05em;
   }
   span.status-tag-high {
      background-color: #B10E1E;
      color: #ffffff;
      vertical-align: baseline;
      padding: 2px 16px 1px;
      font-weight: 700;
      font-size: 14px;
      display: inline-block;
      position: relative;
      top: -0.05em;
   }
</style>


<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <h1 class="heading-xlarge">
            <!-- <span class="heading-secondary">NHSBSA Design</span> -->
            Work Case Report
            <span class="heading-small" style="padding:0; float: right; font-weight: normal;">
               <a href="">
                  Download .xls file
               </a>
            </span>
         </h1>

         <table>
            <thead>
               <tr>
                  <th>OHS Reference</th>
                  <th>Full name</th>
                  <th>Date checked</th>
                  <th>Verification status</th>
                  <th>Date of death</th>
                  <th>Evidence of death</th>
                  <th>Number of dependants</th>
                  <th>S1 status</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td valign="top">
                     <a href="v16_0/admin/no-search-results/case-record">25000002</a>
                  </td>
                  <td valign="top">Michael Philip</td>
                  <td valign="top">01/01/2021</td>
                  <td valign="top">Verified</td>
                  <td valign="top">13/11/2020</td>
                  <td valign="top"></td>
                  <td valign="top">2</td>
                  <td><span class="status-tag-low font-xsmall" style="padding-left:25px; padding-right:25px">REGISTERED</span></td>
               </tr>
               <tr>
               <tr>
                  <td valign="top">
                     <a href="v16_0/admin/no-search-results/case-record">25000002</a>
                  </td>
                  <td valign="top">Michael Philip</td>
                  <td valign="top">01/01/2021</td>
                  <td valign="top"></td>
                  <td valign="top">13/11/2020</td>
                  <td valign="top"></td>
                  <td valign="top">2</td>
                  <td><span class="status-tag-low font-xsmall" style="padding-left:25px; padding-right:25px">REGISTERED</span></td>
               </tr>
               <tr>
                  <td valign="top">
                     <a href="v16_0/admin/no-search-results/case-record">25000002</a>
                  </td>
                  <td valign="top">Michael Philip</td>
                  <td valign="top">01/01/2021</td>
                  <td valign="top"></td>
                  <td valign="top">13/11/2020</td>
                  <td valign="top"></td>
                  <td valign="top">2</td>
                  <td><span class="status-tag-low font-xsmall" style="padding-left:25px; padding-right:25px">REGISTERED</span></td>
               </tr>
               <tr>
               <tr>
                  <td valign="top">
                     <a href="v16_0/admin/no-search-results/case-record">25000002</a>
                  </td>
                  <td valign="top">Michael Philip</td>
                  <td valign="top">01/01/2021</td>
                  <td valign="top"></td>
                  <td valign="top">13/11/2020</td>
                  <td valign="top"></td>
                  <td valign="top">2</td>
                  <td><span class="status-tag-medium font-xsmall" style="padding-left:25px; padding-right:25px">ISSUED</span></td>
               </tr>
               <tr>
                  <td valign="top">
                     <a href="v16_0/admin/no-search-results/case-record">25000002</a>
                  </td>
                  <td valign="top">Michael Philip</td>
                  <td valign="top">01/01/2021</td>
                  <td valign="top"></td>
                  <td valign="top">13/11/2020</td>
                  <td valign="top"></td>
                  <td valign="top">2</td>
                  <td><span class="status-tag-medium font-xsmall" style="padding-left:25px; padding-right:25px">ISSUED</span></td>
               </tr>
               <tr>
               <tr>
                  <td valign="top">
                     <a href="v16_0/admin/no-search-results/case-record">25000002</a>
                  </td>
                  <td valign="top">Michael Philip</td>
                  <td valign="top">01/01/2021</td>
                  <td valign="top"></td>
                  <td valign="top">13/11/2020</td>
                  <td valign="top"></td>
                  <td valign="top">2</td>
                  <td><span class="status-tag-medium font-xsmall" style="padding-left:25px; padding-right:25px">ISSUED</span></td>
               </tr>
            </tbody>
         </table>

         <br>

      </div>
   </div>
</main>
{% endblock %}