{% extends "layout_bsa.html" %}
{% block page_title %}
Overseas Healthcare Prototype
{% endblock %}
{% block content %}
<style>
   hr {
   display: block;
   background: #bfc1c3;
   border: 0;
   height: 1px;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 0;
   }
</style>
<!--
   Button
   <a href="v9_0/admin/ut/windows-login"><input class="button" type="submit" value="Open"></a> 
   -->
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <h1 class="heading-xlarge">
            <span class="heading-secondary">NHSBSA Design</span>
            Overseas Healthcare Services Prototype
         </h1>
         <h2 class="heading-medium">Citizens Rights Agreement - EHIC</h2>
         <!-- <div class="panel panel-border-wide">
            <span class="bold">Note:</span> only EHIC journeys work in this version of the prototype.
            </div> -->

         <hr>

         <!-- <h2 class="heading-small">CCS Agents</h2>
         <table>
            <thead>
               <tr>
                  <th>Scenario</th>
                  <th>Link</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td valign="top">1. EU national applies for an EHIC</td>
                  <td valign="top">
                     <a href="v14_0/ccs/no-search-results/start">Start</a><br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">2. EU national wants to add a spouse/civil partner, durable partner or child under 18</td>
                  <td valign="top">
                     <a href="v14_0/ccs/no-search-results/case-record-8">Start</a><br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">3. EU national wants to add a child over 21</td>
                  <td valign="top">
                     <a href="v14_0/ccs/no-search-results2/case-record-8">Start</a><br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">4. EU national student</td>
                  <td valign="top">
                     <a href="v14_0/ccs/no-search-results/start">Start</a><br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">5. UK national student</td>
                  <td valign="top">
                     <a href="v14_0/ccs/no-search-results/start">Start</a><br>
                  </td>
               </tr>
            </tbody>
         </table>

         <br>

         <details>
            <summary>
               <span class="summary">Usability Testing - w/c 23/12/2020</span>
            </summary>
            <table>
               <thead>
                  <tr>
                     <th>Scenario</th>
                     <th>Link</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td valign="top">1. EU national applies for an EHIC</td>
                     <td valign="top">
                        <a href="v14_0/ccs/no-search-results/start">Start</a><br>
                     </td>
                  </tr>
                  <tr>
                     <td valign="top">2. EU national student</td>
                     <td valign="top">
                        <a href="v13_0/ccs/no-search-results/start">Start</a><br>
                     </td>
                  </tr>
                  <tr>
                     <td valign="top">3. UK national student</td>
                     <td valign="top">
                        <a href="v13_0/ccs/no-search-results/start">Start</a><br>
                     </td>
                  </tr>
               </tbody>
            </table>
         </details>

         <br> -->

         <h2 class="heading-small">Admin</h2>
         <table>
            <thead>
               <tr>
                  <th>Scenario</th>
                  <th>Link</th>
               </tr>
            </thead>
            <tbody>

               <tr>
                  <td valign="top">1. Issue a GHIC </td>
                     <td valign="top">
                        <a href="v16_0/admin/no-search-results/start">Start</a><br>
                     </td>
                  </tr>

               <!-- <tr>
                  <td valign="top">1. Re-issue an EHIC or GHIC  (v.1) </td>
                     <td valign="top">
                        <a href="v16_0/admin/ehic-s1/reissue-ehic/case-record-1">Start</a><br>
                     </td>
                  </tr>
               <tr>
                  <td valign="top">2. Re-issue an EHIC or GHIC  (v.2)</td>
                     <td valign="top">
                        <a href="v16_0/admin/ehic-s1/reissue-ehic/case-record-2">Start</a><br>
                     </td>
                  </tr>
               <tr> -->

               <!-- <tr>
                  <td valign="top">1. EU national applies for an EHIC</td>
                  <td valign="top">
                     <a href="v14_0/admin/no-search-results/start">Start</a><br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">2. EU national wants to add a spouse/civil partner, durable partner or child under 18</td>
                     <td valign="top">
                        <a href="v14_0/admin/no-search-results/case-record-8">Start</a><br>
                     </td>
                  </tr>
               <tr>
                  <td valign="top">3. EU national wants to add a child over 21</td>
                     <td valign="top">
                        <a href="v14_0/admin/no-search-results2/case-record-8">Start</a><br>
                     </td>
                  </tr>
               <tr>
                  <td valign="top">4. Approve EU national's evidence</td>
                  <td valign="top">
                     <a href="v14_0/admin/no-search-results/start2">Start</a><br>
                  </td>
               </tr>
               <tr>
                  <td valign="top">5. Add child dependant to EU national's EHIC</td>
                  <td valign="top">
                     <a href="v14_0/admin/no-search-results/start2">Start</a><br>
                  </td>
               </tr> -->
            </tbody>
         </table>

         <br>

         <!-- <details>
            <summary>
               <span class="summary">Usability Testing - w/c 23/12/2020</span>
            </summary>
            <table>
               <thead>
                  <tr>
                     <th>Scenario</th>
                     <th>Link</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td valign="top">1. EU national applies for an EHIC</td>
                     <td valign="top">
                        <a href="v13_0/admin/no-search-results/start">Start</a><br>
                     </td>
                  </tr>

                  <tr>
                     <td valign="top">2. Approve EU national's evidence</td>
                     <td valign="top">
                        <a href="v13_0/admin/no-search-results/start2">Start</a><br>
                     </td>
                  </tr>
                  <tr>
                     <td valign="top">3. Add child dependant to EU national's EHIC</td>
                     <td valign="top">
                        <a href="v13_0/admin/no-search-results/start2">Start</a><br>
                     </td>
                  </tr> -->
                  <!-- <tr>
                     <td valign="top">1. Registered S1 holder (exportable benefit) applies for an EHIC</td>
                     <td valign="top">
                        <a href="v13_0/admin/ehic-s1/start">Start</a><br>
                     </td>
                     </tr>
                     <tr>
                     <td valign="top">2. British student studying in the EU, EEA or Switzerland applies for an EHIC</td>
                     <td valign="top">
                        <a href="v13_0/admin/no-search-results/start">Start</a><br>
                     </td>
                     </tr>
                     <tr>
                     <td valign="top">3. Issued S1 holder (exportable benefit) applies for an EHIC</td>
                     <td valign="top">
                        <a href="v13_0/admin/ehic-s1-issued/start">Start</a><br>
                     </td>
                     </tr>
                     <tr>
                     <td valign="top">4. Rejected S1 holder (exportable benefit) applies for an EHIC</td>
                     <td valign="top">
                        <a href="v13_0/admin/ehic-s1-rej/start">Start</a><br>
                     </td>
                     </tr>
                     <tr>
                     <td valign="top">5. EU national living in the UK applies for an EHIC</td>
                     <td valign="top">
                        <a href="v13_0/admin/no-search-results/start">Start</a><br>
                     </td>
                     </tr> -->
                  <!-- <tr>
                     <td valign="top">6. EU national - review checks</td>
                     <td valign="top">
                        <a href="v13_0/admin/no-search-results/start">Start</a><br>
                     </td>
                     </tr> -->
               </tbody>
            </table>
         </details>
      </div>
   </div>
</main>
{% endblock %}