{% extends "layout_bsa.html" %}

{% block page_title %}
Check the answers before sending the application
{% endblock %}

{% block content %}

<main id="content" role="main">
	
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<a href="#" class="link-back">Back</a>
			
			<h1 class="heading-large">
				Check the answers before sending the application
			</h1>
			
			
			<!-- only add a heading for a list if there is more than one list -->
            <h2 class="heading-medium">
				Eligibility
			</h2>
			<dl class="govuk-check-your-answers cya-questions-long">
				<div>
					<dt class="cya-question">Have you lived in the UK for the past 6 months?</dt>
					<dd class="cya-answer">Yes</dd>
					<dd class="cya-change">
                        <a href="">Change</a>
					</dd>
				</div>
			</dl>
			<h2 class="heading-medium">
				Personal details
			</h2>
			<dl class="govuk-check-your-answers cya-questions-long">
				<div>
					<dt class="cya-question">Full name</dt>
					<dd class="cya-answer">Michael Philip</dd>
					<dd class="cya-change">
                        <a href="">Change</a>
					</dd>
				</div>
				<div>
					<dt class="cya-question">Date of birth</dt>
					<dd class="cya-answer">
						16 March 1994
					</dd>
					<dd class="cya-change">
                        <a href="">Change</a>
					</dd>
				</div>
				<div>
					<dt class="cya-question">Residential address</dt>
					<dd class="cya-answer">14 March Close<br/>Gateshead<br/>NE13 9UY<br/>UK</dd>
					<dd class="cya-change">
                        <a href="">Change</a>
					</dd>
				</div>
                <div>
					<dt class="cya-question">Correspondence address</dt>
					<dd class="cya-answer">14 March Close<br/>Gateshead<br/>NE13 9UY<br/>UK</dd>
					<dd class="cya-change">
                        <a href="">Change</a>
					</dd>
				</div>
                <div>
					<dt class="cya-question">Phone number</dt>
					<dd class="cya-answer">0191 343 2344</dd>
					<dd class="cya-change">
                        <a href="">Change</a>
					</dd>
				</div>
                <div>
					<dt class="cya-question">Email address</dt>
					<dd class="cya-answer">0191 343 2344</dd>
					<dd class="cya-change">
                        <a href="">Change</a>
					</dd>
				</div>
			</dl>
			
            <!--
			<h2 class="heading-medium">Treatment details</h2>
			
			<dl class="govuk-check-your-answers cya-questions-long">
				<div>
					<dt class="cya-question">Treatment country</dt>
					<dd class="cya-answer">France</dd>
					<dd class="cya-change">
						<a href="moving-country#registration-number">Change<span class="visually-hidden"> name</span></a>
					</dd>
				</div>
				
				<div>
					<dt class="cya-question">Treatment reason</dt>
					<dd class="cya-answer">Broken leg</dd>
					<dd class="cya-change">
						<a href="moving-date#ni-number">Change<span class="visually-hidden"> name</span></a>
					</dd>
				</div>

				<div>
					<dt class="cya-question">Treatment facility</dt>
					<dd class="cya-answer">Grand flaine Hospital</dd>
					<dd class="cya-change">
						<a href="moving-date#ni-number-2">Change<span class="visually-hidden"> name</span></a>
					</dd>
				</div>
				
				<div>
					<dt class="cya-question">Are you in receipt of a UK State Pension</dt>
					<dd class="cya-answer">Treatment dates</dd>
					<dd class="cya-change">
						<a href="benefit-info#pensionUK">Change<span class="visually-hidden"> name</span></a>
					</dd>
				</div>
			</dl>
-->
			
			<h2 class="heading-medium">Now send and create entitlement</h2>
			
			<p class="text">
				By accepting these details, you are confirming they are correct to the best of your knowledge.
			</p>
			
			<div class="form-group">
				<a href="done" class="button">Accept and submit</a>
			</div>
			<div class="form-group">
				<p class="navigation">
					<a class="cancel" href="#" data-toggle="dialog" data-target="dialog-4">Cancel</a>
				</p>
			</div>
		</div>
	</div>
</div>
</main>

{% endblock %}
