{% extends "layout_bsa.html" %}

{% block page_title %}
Overseas Healthcare Services
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- <form action="windows-login" method="get" class="form form-to-validate" id="login-form" novalidate="novalidate" autocomplete="off"> -->
			<div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-header">
					<div class="heading-group">
						<h1 class="page-header--lede heading-large">Why are you going to the EU?</h1>
          </div>
        </header>
      <form action="customers" id="customer" method="get" class="form">
  <div class="form-group">
      <fieldset>

      <legend class="visually-hidden">Where do you live?</legend>

      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="customers" value="travel">
        <label for="radio-1">Going on holiday</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="customers" value="moving">
        <label for="radio-2">Moving to live there</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-3" type="radio" name="customers" value="working">
        <label for="radio-3">Working</label>
      </div>
          <div class="multiple-choice">
        <input id="radio-3" type="radio" name="customers" value="planned">
        <label for="radio-3">To receive planned treatment</label>
      </div>
          <p class="form-block">or</p>
            <div class="multiple-choice">
        <input id="radio-3" type="radio" name="customers" value="accident">
        <label for="radio-3">I'm already in the EU on holiday and have had an accident</label>
      </div>

    </fieldset>
      <br />
      <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        <p class="navigation">
          <a class="cancel" href="#" data-toggle="dialog" data-target="dialog-4">Cancel</a>
        </p>
  </div>
</form>
				</div>
			</div>
			<!-- </form> -->
		</main>

		{% endblock %}
