{% extends "layout_bsa.html" %}

{% block page_title %}
    Entitlement issued
{% endblock %}

{% block content %}
<style>
     .heading-large .heading-secondary {
          color: white;
     }
</style>
<main id="content" role="main">

     <div class="grid-row">
          <div class="column-two-thirds">

               <div class="done-panel">
                 <h1 class="heading-xlarge"><span id="done-tick"></span>Done</h1>
                 <h2 class="heading-large">You are covered immediately.</h2>
               </div>
              <h2 class="heading-medium">What happens next</h2>
              <p>Your EHIC card will arrive in the next 10 days.</p>
              <p>You can use the details below as proof of cover immediately:</p>
              
              
              <div class="panel panel-border-wide">
							<dl class="govuk-check-your-answers cya-questions-long">
				<div>
					<dt class="cya-question">Certificate for:</dt>
					<dd class="cya-answer">Sam Jackson</dd>
				</div>
                <div>
					<dt class="cya-question">Reference number:</dt>
					<dd class="cya-answer">3283292390</dd>
				</div>
                <div>
					<dt class="cya-question">Starts on</dt>
					<dd class="cya-answer">11/02/2019</dd>
				</div>
                <div>
					<dt class="cya-question">Ends on</dt>
					<dd class="cya-answer">11/02/2020</dd>
				</div>
			</dl>
						</div>
              
              <h2 class="heading-small">We have sent a copy to the email address you provided.</h2>
              
              <br />
              
              <a class="print-icon" style="background-repeat: no-repeat;" href="javascript:window.print();">Print this page</a>
              
          </div>
     </div>

</main>

{% endblock %}
