{% extends "layout_bsa.html" %}

{% block page_title %}
Overseas Healthcare Services
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- <form action="windows-login" method="get" class="form form-to-validate" id="login-form" novalidate="novalidate" autocomplete="off"> -->
		<div class="form-group">
			<div class="grid-row">
				<div class="column-two-thirds">
					<div class="heading-group">
						<h1 class="heading-xlarge">Get cover for EU healthcare</h1>
					</div>

                    <br/>
                    <p>Use this service if you are traveling to the EU on holiday or if you are going there to:</p>
                    
                    <ul class="list-bullet">
                        <li>Live</li>
                        <li>Work</li>
                        <li>Get planned treatment</li>
                    </ul>
                    
    
                    <br/>
                    <p>You can apply for yourself or dependents.</p>
          <br />
                    <div class="panel panel-border-wide">
   <p>This should take around 5 minutes.</p>
</div>
                       
                    <br/>
    
                    
                    <form action="self" id="self" method="get" class="form">
        <div class="form-group">
                                      <input class="button button-get-started" type="submit" value="Start">
                                  </div>
        
          </form>
                    
                    <details>

  <summary><span class="summary">I've had an accident on holiday but don't have cover.</span></summary>

  <div class="panel panel-border-narrow">

    <p>
      You will get a code at the end of this application which you can give to the hospital.
    </p>

  </div>
<br /><br />
</details>
                                        
                    <h2 class="heading-medium">Before you start</h2>
                    
                    <p>You must be ordinarily resident in the UK to use this service.</p>


					</div>

				</div>
			</div>
			<!-- </form> -->
		</main>

		{% endblock %}
