{% extends "layout_bsa.html" %}

{% block page_title %}
Overseas Healthcare Services
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- <form action="windows-login" method="get" class="form form-to-validate" id="login-form" novalidate="novalidate" autocomplete="off"> -->
			<div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-header">
					<div class="heading-group">
						<h1 class="page-header--lede heading-large">You're not eligible</h1>
                        
                        
          </div>
        </header>
        <p>Based on the answers you provided, you are not eligible for cover.</p>
				</div>
			</div>
			<!-- </form> -->
		</main>

		{% endblock %}
