{% extends "layout_bsa.html" %}

{% block page_title %}
	Confirmation of move to non-EU
{% endblock %}

{% block content %}
<style>
	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	.heading-large .heading-secondary {
          color: white;
     }
	/* end banner */
</style>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="done-panel">
                    <h1 class="heading-xlarge"><span id="done-tick"></span>Confirmation of move to a country outside EU/EEA or Switzerland</h1>
                    <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
               </div>
               <div class="form-group">
                    <h2 class="heading-medium">What happens next</h2>
                    <p>Your S1 entitlement for France will be cancelled and you will not be able to use this to access  healthcare treatment in France. </p>
                    <p>You will have to apply for a new S1 if you travel back to France or any other EU/EEA country or Switzerland.</p>
                    <p>Email sent to the registrations team at <a href="#">nhsbsaregistrations@nhsbsacancellation.com</a></p>
                    <a href="case-record-75" class="link">View updated details</a>
               </div>
               <div class="form-group">
                    <a href="search" class="button">Do another search</a>
               </div>
          </div>
     </div>
</main>

{% endblock %}
