{% extends "layout_bsa.html" %}

{% block page_title %}
	Confirmation of in receipt UK State Pension
{% endblock %}

{% block content %}
<style>
	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="grid-row">
			<div class="column-full">
				<div class="banner-information-without-action">
					<p class="banner-message">
						<span class="name text-capitalize">Rosie Philip</span>
						<span class="vertical-bar">|</span>
						<span class="ohs-reference-number">25000005</span>
					</p>
				</div>
			</div>
			<div class="column-two-thirds">
				<form method="get" action="search" class="form">
					<div class="form-group">
						<h1 class="heading-large">
							Confirmation of in receipt UK State Benefit
						</h1>
					</div>
					<div class="form-group">
						<p>Please ask your agency to contact us and send us your details at <a href="#">nhs@registrations.com</a>. We will then issue you a new certificate so you can access free healthcare treatment in the country you are planning to move to.</p>
<!--                         <p>Email sent to the registrations team at <a href="#">nhs@registrations.com</a></p>
 -->					</div>
					<div class="form-group">
						<a class="button" href="case-record-54">Submit</a>
						<a class="button button-secondary" href="case-record-16">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock %}
