{% extends "layout_bsa.html" %}

{% block page_title %}
	Check your answers before sending the application
{% endblock %}

{% block content %}
<style>
	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="grid-row">
			<!-- <div class="column-full">
				<div class="banner-information-without-action">
					<p class="banner-message">
						<span class="name text-capitalize">Michael Philip</span>
						<span class="vertical-bar">|</span>
						<span class="ohs-reference-number">25000002</span>
					</p>
				</div>
			</div> -->
			<div class="column-two-thirds">
				<div class="heading-group">
					<h1 class="heading-large">Check your answers</h1>
				</div>
				<!-- <div class="form-group">
					<h2 class="heading-medium">Personal details</h2>
					<dl class="govuk-check-your-answers cya-questions-short">
						<div>
							<dt class="cya-question">OHS reference number</dt>
							<dd class="cya-answer">25000002</dd>
							<dd class="cya-change"></dd>
						</div>
						<div>
							<dt class="cya-question">Full name</dt>
							<dd class="cya-answer">Michael Philip</dd>
						</div>
						<div>
							<dt class="cya-question">Date of birth</dt>
							<dd class="cya-answer">16/03/1994</dd>
						</div>
						<div>
							<dt class="cya-question">National Insurance number</dt>
							<dd class="cya-answer">SR123456A</dd>
						</div>
					</dl>
				</div> -->
				<div class="form-group">
					<!-- <h2 class="heading-medium">Eligibility details</h2> -->
					<dl class="govuk-check-your-answers cya-questions-short">
						<div>
							<dt class="cya-question">What date was the request received by the business?</dt>
							<dd class="cya-answer">11/05/2020</dd>
							<dd class="cya-change">
								<a href="received-date-5">Change<span class="visually-hidden"> country you are moving to</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">What country are you moving to?</dt>
							<dd class="cya-answer">France</dd>
							<dd class="cya-change">
								<a href="moving-country-5#registration-number">Change<span class="visually-hidden"> country you are moving to</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">What date will you start to live in [moving country]?</dt>
							<dd class="cya-answer">20/03/2020</dd>
							<dd class="cya-change">
								<a href="moving-date-5#ni-number">Change<span class="visually-hidden"> date will you start to live in France</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">What date will you return to the UK?</dt>
							<dd class="cya-answer">-</dd>
							<dd class="cya-change">
								<a href="moving-date-5#ni-number-2">Change<span class="visually-hidden"> date you will return to the UK</span></a>
							</dd>
						</div>
						<!-- <div>
							<dt class="cya-question">Do you get money from a UK State Pension, or will you get this within the next 28 days?</dt>
							<dd class="cya-answer">{{data.statePension}}</dd>
							<dd class="cya-change">
								<a href="pension-info#statepension">Change<span class="visually-hidden"> state pension</span></a>
							</dd>
						</div> -->
						<div>
							<dt class="cya-question">What date did you/will you start to get paid your UK State Pension?</dt>
							<dd class="cya-answer">04/12/2018</dd>
							<dd class="cya-change">
								<a href="pension-date-5#ni-number">Change<span class="visually-hidden"> date you will start to get paid your UK State Pension</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Do you/will you get paid a State Pension from [moving country]?</dt>
							<dd class="cya-answer">No</dd>
							<dd class="cya-change">
								<a href="same-pension-5#state-pension">Change<span class="visually-hidden"> if you get paid a State Pension from France</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Do you/will you get paid a State Pension from another EEA country, or Switzerland other than the following mentioned below? </dt>
							<dd class="cya-answer">Yes - Lithuania <!--{{data.thirdcountrypension}}
								                   {% if data.thirdcountrypension === "Yes" %}
									                  - {{data.thirdcountry}}
								                   {% endif %} --> </dd>
							<dd class="cya-change">
								<a href="another-pension-9#state-pension">Change<span class="visually-hidden"> France State Pension</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Would you like an email requesting the information we need? </dt>
							<dd class="cya-answer">No</dd>
							<dd class="cya-change">
								<a href="tcp-info-email-7">Change<span class="visually-hidden">Send an email requesting the information we need</span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Add Rosie Philip to your new application</dt>
							<dd class="cya-answer">Yes</dd>
							<dd class="cya-change">
								<a href="add-dep-to-app-20">Change<span class="visually-hidden">Add Rosie Philip to your new application </span></a>
							</dd>
						</div>
						<div>
							<dt class="cya-question">Add Sarah Philip to your new application</dt>
							<dd class="cya-answer">Yes</dd>
							<dd class="cya-change">
								<a href="add-dep-to-app-20">Change<span class="visually-hidden">Add Rosie Philip to your new application </span></a>
							</dd>
						</div>
					</dl>
				</div>
				<!-- <div class="form-group">
					<h2 class="heading-medium">Contact details</h2>
					<dl class="govuk-check-your-answers cya-questions-short">
						<div>
							<dt class="cya-question">Residential address</dt>
							<dd class="cya-answer">1 Road <br>
								Downtown <br>
								Lille <br>
								123456 <br>
								France
							</dd>
						</div>
						<div>
							<dt class="cya-question">Correspondence address</dt>
							<dd class="cya-answer">Rúa de Mer 64 <br>
								Paris <br>
								Plaisance <br>
								75014 <br>
								France
							</dd>
						</div>
						<div>
							<dt class="cya-question">Email address</dt>
							<dd class="cya-answer">michael.philip@email.com</dd>
						</div>
						<div>
							<dt class="cya-question">Telephone number</dt>
							<dd class="cya-answer">-</dd>
						</div>
					</dl>
				</div> -->
				<!--<div class="form-group">
					<h2 class="heading-medium">Now create and send entitlement</h2>
					<p class="text">
						By accepting these details, you are confirming they are correct to the best of your knowledge.
					</p>
				</div> -->
				<div class="form-group">
					<a href="evid-req-third-country-pen-14" class="button">Submit</a>
					<a class="button button-secondary" href="case-record">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
