{% extends "layout_bsa.html" %}

{% block page_title %}
    Check your answers
{% endblock %}

{% block content %}
<style>
    /* banner */
    .banner-information-without-action {
        color: #005ea5;
    }
    .banner-message {
        font-family: Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 36px;
        line-height: 1.2;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-width: 5px;
        border-style: solid;
        font-weight: bold;
        text-align: center;
    }
    .vertical-bar {
        margin: 0px 10px;
    }
    /* end banner */
</style>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div id="back">
                <a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="grid-row">
            <!-- <div class="column-full">
                <div class="banner-information-without-action">
                    <p class="banner-message">
                        <span class="name text-capitalize">Michael Philip</span>
                        <span class="vertical-bar">|</span>
                        <span class="ohs-reference-number">25000002</span>
                    </p>
                </div>
            </div> -->
            <div class="column-two-thirds">
                <div class="heading-group">
                    <h1 class="heading-large">Check your answers</h1>
                </div>
                <div class="form-group">
                    <table class="check-table">
                        <tbody>
                            <!-- <tr>
                                <td valign="top" class="bold">Residential address</td>
                                <td>
                                    1 Road<br>
                                    Downtown<br>
                                    Perth<br>
                                    6006<br>
                                    Australia
                                </td>
                                <td valign="top"><a href="change-address-4">Change</a></td>
                            </tr> -->
                            <tr>
                                <td class="bold">Date of death</td>
                                <td>08/06/2020</td>
                                <td><a href="death-date-1">Change</a></td>
                            </tr>
                            <tr>
                                <td class="bold">Informant</td>
                                <td>Dependant</td>
                                <td><a href="informant">Change</a></td>
                            </tr>
                            <tr>
                                <td class="bold">Full name</td>
                                <td>Rosie Philip</td>
                                <td><a href="informant-details">Change</a></td>
                            </tr>
                            <tr>
                                <td class="bold">Email address</td>
                                <td>rosie.philip@email.com</td>
                                <td><a href="informant-details">Change</a></td>
                            </tr>
                            <tr>
                                <td class="bold">Telephone number</td>
                                <td></td>
                                <td><a href="informant-details">Change</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="form-group">
                    <h2 class="heading-medium">Confirmation of return to UK</h2>
                    <p class="text">
                        Your active S1 entitlement for France, which is registered will be cancelled and you shall no longer be entitled to free healthcare treatment. </p>
                        <p>You will have to apply for a new S1 if you travel back to France or any other EU/EEA country.</p>
                        <p>An email will be sent to the registration team with required details mentioned in case note
                    </p>
                </div> -->
                <div class="form-group">
                    <a href="death-conf" class="button">Submit</a>
                    <a class="button button-secondary" href="case-record">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
