{% extends "layout_bsa.html" %}
{% block page_title %}
Evidence of death required
{% endblock %}
{% block content %}
<style>
   .heading-large .heading-secondary {
   color: white;
   }
</style>
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-two-thirds">
         <div class="done-panel" style="background-color: #70777b;">
            <h1 class="heading-xlarge"></span>Evidence of death required</h1>
            <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
         </div>
         <div class="form-group">
            <h2 class="heading-medium">What happens next</h2>
            <!-- <p>S1 entitlement for France will be set to requested</p> -->
            <p>You must send a hard copy or a scanned copy to us for evidence of death to be reviewed.</p>
            <p><span class="bold">Post</span><br>
               NHS Business Services Authority<br>
               152 Pilgrim Street<br>
               Newcastle upon Tyne <br>
               NE1 6SN
            </p>
            <p><span class="bold">Email</span><br>
               <a href="#">nhsbsaregistrations@nhsbsacancellation.com</a>
            </p>
            <p>All dependants of Michael Philip will no longer be entitled to healthcare treatment in the EU/EEA member states. If dependants still need access to healthcare treatment while living in an EU/EEA member state or Switzerland, then they need to apply for an S1 if they are in receipt of a UK State Pension or state benefits.</p>
            <a href="case-record-51" class="link">View updated details</a>
         </div>
         <div class="form-group">
            <a href="search" class="button">Do another search</a>
         </div>
      </div>
   </div>
</main>
{% endblock %}