{% extends "layout_bsa.html" %}

{% block page_title %}
	Confirmation of return to UK
{% endblock %}

{% block content %}
<style>
	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	.heading-large .heading-secondary {
          color: white;
     }
	/* end banner */
</style>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="done-panel" style="background-color: #70777b;">
                    <h1 class="heading-xlarge">Information required</h1>
                    <h2 class="heading-large"><span class="heading-secondary">Main (insured person)</span> Michael Philip</h2>
                    <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
               </div>
               <div class="form-group">
                    <h2 class="heading-medium">What happens next</h2>
					<p>As you are living in [moving country] and receiving a State Pension from them, [moving country] are responsible for your healthcare.</p>
					<p>To determine the date your existing S1 will end, and whether you can be issued a new S1 following your move, we need to know the date you started to receive your State Pension from [moving country]. S1 entitlements for all dependants will also end from this date.</p> 
					<p>Once you have this information please call us or email this information to <a href ="#">nhsbsa.ohscancellations@nhs.net</a>, including your OHS reference number.</p>
					<p>Email sent to Registrations team to notify that pension start date has been requested.</p>
                    <a href="case-record-151" class="link">View updated details</a>
               </div>
               <div class="form-group">
                    <a href="search" class="button">Do another search</a>
               </div>
          </div>
     </div>
</main>

{% endblock %}
