{% extends "layout_bsa.html" %}

{% block page_title %}
	On what date did you/will you return to the UK?
{% endblock %}

{% block content %}
<style>
	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="grid-row">
			<div class="column-full">
				<div class="banner-information-without-action">
					<p class="banner-message">
						<span class="name text-capitalize">Michael Philip</span>
						<span class="vertical-bar">|</span>
						<span class="ohs-reference-number">25000002</span>
					</p>
				</div>
			</div>
			<div class="column-two-thirds">
				<div class="heading-group">
					<h1 class="heading-large">On what date did you/will you return to the UK?</h1>
				</div>
				<form action="benefit-info" id="moving-date-form" method="get" class="form">
					<div class="form-group">
						<label class="form-label" for="ni-number">
							Date returned to UK
							<span class="form-hint">
								This can be any date up to 4 weeks from today. For example, 18/09/2018
							</span>
						</label>
						<input class="form-control" id="ni-number" type="text" autocomplete="off" value="04/12/2019">
					</div>
					<!-- <div class="form-group">
						<label class="form-label" for="ni-number-2">
							Date returning to the UK (optional)
							<span class="form-hint">
								If you’re coming back to the UK permanently, tell us what date you’re moving back. For example, 18/09/2018
							</span>
						</label>
						<input class="form-control" id="ni-number-2" type="text" autocomplete="off">
					</div> -->
					<div class="form-group">
						<!-- <a class="button" href="pension-info">Next</a> -->
						<a class="button" href="cya-address-uk">Next</a>
						<a class="button button-secondary" href="case-record">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock %}
