{% extends "layout_bsa.html" %}

{% block page_title %}
	Do you get paid a State Pension from France?
{% endblock %}

{% block content %}
<style>
	/* radio buttons */
	@media (min-width: 40.0625em) {
		.govuk-radios--inline:after {
			content: "";
			display: block;
			clear: both;
		}
	}
	@media (min-width: 40.0625em) {
		.govuk-radios--inline .govuk-radios__item {
			margin-right: 20px;
			float: left;
			clear: none;
		}
	}
	@media (min-width: 40.0625em) {
		.govuk-radios__item {
			font-size: 19px;
			font-size: 1.1875rem;
			line-height: 1.31579;
		}
	}
	@media (min-width: 40.0625em) {
		.govuk-label {
			font-size: 19px;
			font-size: 1.1875rem;
			line-height: 1.31579;
		}
	}
	.govuk-radios__item {
		font-family: Arial,sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 400;
		font-size: 1rem;
		font-size: 16px;
		line-height: 1.25;
		display: block;
		position: relative;
		min-height: 40px;
		margin-bottom: 10px;
		padding: 0 0 0 40px;
		clear: left;
	}
	.govuk-radios__input {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		cursor: pointer;
		margin: 0;
		opacity: 0;
	}
	.govuk-radios__label {
		display: inline-block;
		margin-bottom: 0;
		padding: 8px 15px 5px;
		cursor: pointer;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
	}
	.govuk-label {
		font-family: Arial,sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 400;
		font-size: 1rem;
		font-size: 16px;
		line-height: 1.25;
		color: #0b0c0c;
		display: block;
		margin-bottom: 5px;
	}
	.govuk-radios__input+.govuk-radios__label::before {
		content: "";
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		border: 2px solid currentColor;
		border-radius: 50%;
		background: transparent;
	}
	.govuk-radios__input:checked+.govuk-radios__label::after {
		opacity: 1;
	}
	.govuk-radios__input+.govuk-radios__label::after {
		content: "";
		position: absolute;
		top: 10px;
		left: 10px;
		width: 0;
		height: 0;
		border: 10px solid currentColor;
		border-radius: 50%;
		opacity: 0;
		background: currentColor;
	}
	.govuk-radios__divider {
		font-size: 19px;
		font-size: 1.1875rem;
		line-height: 1.31579;
	}
	.govuk-radios__divider {
		font-family: Arial,sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
		color: #0b0c0c;
		width: 40px;
		margin-bottom: 10px;
		text-align: center;
	}
	/* end radio buttons */

	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	/* end banner */
</style>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<div id="back">
				<a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="grid-row">
			<div class="column-full">
				<div class="banner-information-without-action">
					<p class="banner-message">
						<span class="name text-capitalize">Michael Philip</span>
						<span class="vertical-bar">|</span>
						<span class="ohs-reference-number">25000002</span>
					</p>
				</div>
			</div>
			<div class="column-two-thirds">
				<div class="heading-group">
					<h1 class="heading-large">Do you get paid a State Pension from France?</h1>
				</div>
				<form action="lion" id="same-pension-form" method="get" class="form">
					<div class="form-group">
						<fieldset id="state-pension" class="inline">
							<div class="govuk-radios govuk-radios--inline">
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="yes" name="samePension" type="radio" value="Yes">
									<label class="govuk-label govuk-radios__label" for="yes">
										Yes
									</label>
								</div>
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="no" name="samePension" type="radio" value="No">
									<label class="govuk-label govuk-radios__label" for="no">
										No
									</label>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<input class="button" type="submit" value="Next">
						<a class="button button-secondary" href="case-record">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock %}
