{% extends "layout_bsa.html" %}
{% block page_title %}
Do you want to update the addresses of your dependant(s)?
{% endblock %}
{% block content %}
<style>
   /* radio buttons */
   @media (min-width: 40.0625em) {
   .govuk-radios--inline:after {
   content: "";
   display: block;
   clear: both;
   }
   }
   @media (min-width: 40.0625em) {
   .govuk-radios--inline .govuk-radios__item {
   margin-right: 20px;
   float: left;
   clear: none;
   }
   }
   @media (min-width: 40.0625em) {
   .govuk-radios__item {
   font-size: 19px;
   font-size: 1.1875rem;
   line-height: 1.31579;
   }
   }
   @media (min-width: 40.0625em) {
   .govuk-label {
   font-size: 19px;
   font-size: 1.1875rem;
   line-height: 1.31579;
   }
   }
   .govuk-radios__item {
   font-family: Arial,sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-weight: 400;
   font-size: 1rem;
   font-size: 16px;
   line-height: 1.25;
   display: block;
   position: relative;
   min-height: 40px;
   margin-bottom: 10px;
   padding: 0 0 0 40px;
   clear: left;
   }
   .govuk-radios__input {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   width: 40px;
   height: 40px;
   cursor: pointer;
   margin: 0;
   opacity: 0;
   }
   .govuk-radios__label {
   display: inline-block;
   margin-bottom: 0;
   padding: 8px 15px 5px;
   cursor: pointer;
   -ms-touch-action: manipulation;
   touch-action: manipulation;
   }
   .govuk-label {
   font-family: Arial,sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-weight: 400;
   font-size: 1rem;
   font-size: 16px;
   line-height: 1.25;
   color: #0b0c0c;
   display: block;
   margin-bottom: 5px;
   }
   .govuk-radios__input+.govuk-radios__label::before {
   content: "";
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   width: 40px;
   height: 40px;
   border: 2px solid currentColor;
   border-radius: 50%;
   background: transparent;
   }
   .govuk-radios__input:checked+.govuk-radios__label::after {
   opacity: 1;
   }
   .govuk-radios__input+.govuk-radios__label::after {
   content: "";
   position: absolute;
   top: 10px;
   left: 10px;
   width: 0;
   height: 0;
   border: 10px solid currentColor;
   border-radius: 50%;
   opacity: 0;
   background: currentColor;
   }
   .govuk-radios__divider {
   font-size: 19px;
   font-size: 1.1875rem;
   line-height: 1.31579;
   }
   .govuk-radios__divider {
   font-family: Arial,sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;
   color: #0b0c0c;
   width: 40px;
   margin-bottom: 10px;
   text-align: center;
   }
   /* end radio buttons */
   /* banner */
   .banner-information-without-action {
   color: #005ea5;
   }
   .banner-message {
   font-family: Arial, sans-serif;
   font-weight: 400;
   text-transform: none;
   font-size: 36px;
   line-height: 1.2;
   padding: 20px;
   margin-top: 15px;
   margin-bottom: 15px;
   border-width: 5px;
   border-style: solid;
   font-weight: bold;
   text-align: center;
   }
   .vertical-bar {
   margin: 0px 10px;
   }
   /* end banner */
</style>
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div id="back">
            <a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
         </div>
      </div>
   </div>
   <div class="form-group">
      <div class="grid-row">
         <div class="column-full">
            <div class="banner-information-without-action">
               <p class="banner-message">
                  <span class="name text-capitalize">Michael Philip</span>
                  <span class="vertical-bar">|</span>
                  <span class="ohs-reference-number">25000002</span>
               </p>
            </div>
         </div>
         <div class="column-two-thirds">
            <div class="heading-group">
               <h1 class="heading-large">Do you want to use the same address(es) for your dependant(s)?</h1>
            </div>
            <br>
            <!-- <div class="form-group">
               <table class="check-table">
                  <tbody>
                     <tr>
                        <td valign="top" class="bold">Residential Address</td>
                        <td>2 Avenue<br>
                           Downtown<br>
                           123456<br>
                           Lille<br>
                           France<br>
                        </td>
                     </tr>
                     <tr>
                        <td valign="top" class="bold">Correspondence Address</td>
                        <td>Rúa de Mer 64<br>
                           Paris<br>
                           Plaisance<br>
                           75014<br>
                           France<br>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <br> -->
           <div class="panel panel-border-wide">
               <div style="float: left; padding-right: 50px;">
                  <p class="bold">Residential address</p>
                  <p>2 Avenue<br>
                     Downtown<br>
                     123456<br>
                     Lille<br>
                     France<br>
                  </p>
               </div>
               <div style="float: left;">
                  <p class="bold">Correspondence address</p>
                  <p>Rúa de Mer 64<br>
                     Paris<br>
                     Plaisance<br>
                     75014<br>
                     France<br>
                  </p>
               </div>
            </div>
            <br> 
            <p class="bold">Use the same address(es) for Rosie Philip</p>  
            <br>
         <form action="cya-address-same-country-new-s1" method="get" class="form">
            <div class="form-group">
               <fieldset id="reprint-reasons">
                  <div class="govuk-radios govuk-radios--inline">
                     <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-live-1" name="newForms" type="radio" value="Yes">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                        Yes
                        </label>
                     </div>
                     <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-live-2" name="newForms" type="radio" value="No">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                        No
                        </label>
                     </div>
                  </div>
               </fieldset>
            </div>
            <br>
            <p class="bold">Use the same address(es) for Sarah Philip</p>
            <br>
         <form action="cya-address-same-country-new-s1" method="get" class="form">
            <div class="form-group">
               <fieldset id="reprint-reasons">
                  <div class="govuk-radios govuk-radios--inline">
                     <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-live-1" name="sameAddress" type="radio" value="Yes">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                        Yes
                        </label>
                     </div>
                     <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-live-2" name="sameAddress" type="radio" value="No">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                        No
                        </label>
                     </div>
                  </div>
               </fieldset>
            </div>
            <br>
            <div class="form-group">
               <input class="button" type="submit" value="Next"> 
               <!-- <a class="button" href="cya-address-same-country-new-s1">Next</a> -->
               <a class="button button-secondary" href="case-record-36">Cancel</a>
            </div>
            </form>
            <p>If answering no, further questioning may be required to establish the reason. Access the dependants’ record to action.</p>
         </div>
      </div>
   </div>
</main>
{% endblock %}