{% extends "layout_bsa.html" %}

{% block page_title %}
	Confirmation of move to Spain
{% endblock %}

{% block content %}
<style>
	/* banner */
	.banner-information-without-action {
		color: #005ea5;
	}
	.banner-message {
		font-family: Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 36px;
		line-height: 1.2;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-width: 5px;
		border-style: solid;
		font-weight: bold;
		text-align: center;
	}
	.vertical-bar {
		margin: 0px 10px;
	}
	.heading-large .heading-secondary {
          color: white;
     }
	/* end banner */
</style>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="done-panel">
                    <h1 class="heading-xlarge"><span id="done-tick"></span>Confirmation of move to Spain</h1>
                    <h2 class="heading-large"><span class="heading-secondary">Main (insured person)</span> Michael Philip</h2>
                    <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
               </div>
               <div class="form-group">
                    <h2 class="heading-medium">What happens next</h2>
                    <p>Your S1 entitlement for France is no longer valid from the date you moved and you will not be able to use this to access healthcare in France. S1 entitlement for all dependents will also end from this date.</p>
					<!--<p>If you move back to France or to any other EU/EEA country, or Switzerland, you will need to apply for a new S1 and have your entitlement assessed.</p> -->
					<p>Email sent to the registrations team at <a href="#">nhsbsa.ohscancellation@nhs.net</a></p>
                    <p class="bold">Create a new entitlement by clicking on Continue.</p>
			   </div>
			   <div class="form-group">
                    <a href="case-record-132" class="button">Continue</a>
               </div>  
          </div>
     </div>
</main>

{% endblock %}
