{% extends "layout_bsa.html" %}

{% block page_title %}
    What is your residential address?
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div id="back">
                <a class="link-back" href="javascript:history.back()" id="back-link">Back</a>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <h1 class="heading-large">What is your residential address?</h1>
            </div>
            <form action="contact-details" id="contact-address-form-2" method="get" class="form">
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-label" for="lineone">Building and street (line 1 of 2)</label>
                        <input class="form-control" id="lineone" name="address-lineone" type="text" autocomplete="off" value="1 Road">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="linetwo">Building and street (line 2 of 2) (optional)</label>
                        <input class="form-control"  id="linetwo" name="address-linetwo" type="text" autocomplete="off" value="Downtown">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="town">Town or city</label>
                        <input class="form-control" id="town" name="town" type="text" autocomplete="off" value="Madrid">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="postcode">Postcode (optional)</label>
                        <input class="form-control form-control-1-4"  id="postcode" name="address-postcode" type="text" autocomplete="off" value="123456">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="country">Country</label>
                        <input class="form-control" id="country" name="country" type="text" autocomplete="off" value="Spain" disabled>
                    </div>
                    <!-- <div class="form-group">
                        <label>
                            <span class="form-label" for="date">What date did you move into this address?</span>
                            <span class="form-hint">For example, 18/09/2018</span>
                        </label>
                        <input class="form-control" id="date" name="date" type="text" autocomplete="off" value="04/12/2018">
                    </div> -->
                </div>
                <div class="panel panel-border-wide">
                       <p class="bold">All documents will be sent to your residential address. We can send them to a different address in the same country if you would prefer.</p>
                    </div>
                <div class="form-group">
                    <details role="group">
                        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Add correspondence address (if different)</span></summary>
                        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                            <div class="form-group">
                                <h2 class="heading-medium">Add correspondence address</h2>
                                <div class="form-group">
                                    <label class="form-label" for="building-name-1">Building and street (line 1 of 2)</label>
                                    <input class="form-control" id="building-name-1" name="building-name-1" type="text" autocomplete="off" value="">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="street-name-1">Building and street (line 2 of 2) (optional)</label>
                                    <input class="form-control" id="street-name-1" name="street-name-1" type="text" autocomplete="off" value="">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="town-city-1">Town or city</label>
                                    <input class="form-control" id="town-city-1" name="town-city-1" type="text" autocomplete="off" value="">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="form-control-1-4">Postcode (optional)</label>
                                    <input class="form-control form-control-1-4" id="form-control-1-4" name="form-control-1-4" type="text" autocomplete="off" value="">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="form-control-1-3">Country</label>
                                    <input class="form-control" id="form-control-1-3" name="form-control-1-3" type="text" autocomplete="off" value="" >
                                </div>
                            </div>
                        </div>
                    </details>
                </div>
                <div class="form-group">
                    <a class="button" href="new-address-date-eu-2">Next</a>
                    <a class="button button-secondary" href="search">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
