{% extends "layout_bsa.html" %}
{% block page_title %}
Evidence of death required
{% endblock %}
{% block content %}
<style>
   .heading-large .heading-secondary {
   color: white;
   }
</style>
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-two-thirds">
         <div class="done-panel" style="background-color: #70777b;">
            <h1 class="heading-xlarge"></span>Evidence of National Insurance number required</h1>
            <h2 class="heading-large"><span class="heading-secondary">Main (insured person)</span> Michael Philip</h2>
            <h2 class="heading-large"><span class="heading-secondary">OHS Reference number</span> 25000002</h2>
         </div>
         <div class="form-group">
            <h2 class="heading-medium">What happens next</h2>
            <p>Your S1 entitlement for France will remain valid. </p>
            <p>Email sent to <a href="">michael.philip@email.com</a> requesting evidence.</p>
            <!-- <p>Please send us evidence of your National Insurance number, such as a payslip or letter from HMRC. The evidence must also show your name. Copies can be accepted as long as they are clear.</p>
            <p><span class="bold">Post</span><br>
               Overseas Healthcare Service<br>
               NHS Business Services Authority<br>
               152 Pilgrim Street<br>
               Newcastle upon Tyne <br>
               NE1 6SN
            </p>
            <p><span class="bold">Email</span><br>
               <a href="#">nhsbsaregistrations@nhsbsacancellation.com</a>
            </p> -->
            <a href="case-record-66" class="link">View updated details</a>
         </div>
         <div class="form-group">
            <a href="search" class="button">Do another search</a>
         </div>
      </div>
   </div>
</main>
{% endblock %}